.job-opportunities
{
    background-color: #f8f3ef;
}
.vacancies-title
{
    color: #ff7b16;
}
.job-opportunities-vacancies-cards-groupe
{
    background-color: #ffffff;
}
.company-slogan-title
{
    color: #1c4c97;
}
strong
{
    color: #1c4c97;
}
