.filters__color-checkbox {
  appearance: none; /* Приховує стандартний вигляд */
  -webkit-appearance: none; /* Для сумісності з Safari */
  -moz-appearance: none; /* Для Firefox */
  width: 16px;
  height: 16px;
  border: 1px solid #272727; /* Стилізація замість квадратика */
  cursor: pointer;
  /* margin-right: 8px; */
  transition: all 0.3s ease-out;
}
.filters__color-label {
  display: flex;
  column-gap: 8px;
  cursor: pointer;
  position: relative;
}
.filters__color-checkbox:checked {
  background-color: #ff7b16; /* Стиль для активного стану */
  border-color: #ff7b16;
}
.filters__color-checkbox-active {
  transition: all 0.2s ease-out;
  opacity: 0; /* Прозорість*/
  position: absolute;
  left: 0;
}
.filters__color-checkbox:checked + .filters__color-checkbox-active {
  opacity: 1;
}

.filters__item {
  padding: 15px 5px 15px 5px;
  border-bottom: 1px solid rgba(33, 39, 54, 0.12);
}
/* rgba(33, 39, 54, .12) */
