@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 1px solid red;
}

:root {
  scroll-behavior: smooth;
  --font-title: "Bebas Neue", sans-serif;
  --font-text: "Nunito", sans-serif;

  /* color of subtitles (a high font) and dark elements */
  --color-primary: rgb(39, 39, 39);  /* #272727 */
  /* color of descriptions */
  --color-text-body: rgb(106, 106, 106);
  /* color of most buttons and text accents */
  --color-accent: rgb(28, 76, 151);
  /* color of prices and accent buttons */
  --color-accent-additional: rgb(255, 123, 22);  /* #ff7b16 */
  /* color white */
  --color-primary-white: rgb(255, 255, 255);
  /* color additional light text */
  --color-additional-light-text: rgb(248, 243, 239);
  /* color of additional text */
  --color-additional-text: rgb(248, 243, 239);
  /* color of header menu */
  --color-menu-items: rgba(255, 255, 255, 0.76);
  /*color of background (beige)*/
  --color-bg-second: rgb(248, 243, 239);
  /* color of secondary button's background */
  --color-secondary-button: #464c5c;
  /* color of divider */
  --color-divider: rgba(0, 0, 0, 0.07);
  /* color of bottom line */
  --color-bottom-line: rgba(33, 39, 54, 0.12);
  /* color of input background */
  --color-input-background: rgb(39, 39, 39, 0.12);

  /* transition for all  */
  --transiton-primary-all: all 0.3s ease-in-out;
}

body {
  font-family: var(--font-text);
  overflow-x: hidden;
  min-width: 320px;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

body .container {
  max-width: 1280px;
  width: 100%;
  padding: 0 24px;
  margin: 0 auto;

  @media (min-width: 768px) {
    padding: 0 32px;
  }

  @media (min-width: 992px) {
    max-width: 1280px;
    padding: 0 40px;
  }
}

body .overflow-hidden {
  overflow: hidden;
}

.divider {
  border: none;
  height: 1px;
  background-color: var(--color-divider);
  margin: 15.5px 0;
}
