@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

/* деякі незроблені секції на мобільному все ламають, тому обмежив це */
html,
section,
footer,
main {
  max-width: 100vw;
  overflow-x: hidden;
}

:root {
  scroll-behavior: smooth;
  --font-title: "Bebas Neue", sans-serif;
  --font-text: "Nunito", sans-serif;

  /* color of subtitles (a high font) and dark elements */
  --color-primary: rgb(39, 39, 39); /* #272727 */
  /* color of descriptions */
  --color-text-body: rgb(106, 106, 106);
  /* color of most buttons and text accents */
  --color-accent: rgb(28, 76, 151);
  /* color of prices and accent buttons */
  --color-accent-additional: rgb(255, 123, 22); /* #ff7b16 */
  /* color white */
  --color-primary-white: rgb(255, 255, 255);
  /* color additional light text */
  --color-additional-light-text: rgb(248, 243, 239);
  /* color of additional text */
  --color-additional-text: rgb(248, 243, 239);
  /* color of header menu */
  --color-menu-items: rgba(255, 255, 255, 0.76);
  /*color of background (beige)*/
  --color-bg-second: rgb(248, 243, 239);
  /* color of secondary button's background */
  --color-secondary-button: #464c5c;
  /* color of divider */
  --color-divider: rgba(0, 0, 0, 0.07);
  /* color of bottom line */
  --color-bottom-line: rgba(33, 39, 54, 0.12);
  /* color of input background */
  --color-input-background: rgb(39, 39, 39, 0.12);
  /* background color of preorder button */
  --badge-preorder-background: #e2ffdd;
  /* color of preorder button */
  --badge-preorder-color: #61a854;
  /* background color of out-of-stock button */
  --badge-out-of-stock-background: #ffddd9;
  /* color of out-of-stock button */
  --badge-out-of-stock-color: #cc3833;
  /* Header colors */
  --color-header-primary-bg: #272727;
  --color-primary-logo: #ff7c14;
  --color-header-main-menu: rgba(255, 255, 255, 0.76);
  --color-header-additional-menu: #ffffff;
  --color-header-light-accent: #f8f3ef;
  --color-header-brand: #ff7b16;
  --color-header-secondary-accent: #1c4c97;
  /* Cart colors */
  --cart-color-danger: #ff4444;
  --cart-color-danger-hover: #ff2222;
  --cart-product-label-background: #333;
  --cart-color-text: #1a1f36;
  --cart-color-text-secondary: #9199ab;
  --cart-color-text-light: #666;
  --cart-color-border: #e6e8ec;
  --cart-color-border-light: #eee;
  --cart-color-border-input: #ddd;
  --cart-color-background-secondary: #f5f5f5;
  --cart-color-background-hover: rgba(145, 153, 171, 0.1); /* #9199AB */
  --cart-color-background-modal: rgba(0, 0, 0, 0.5);
  --cart-shadow-modal: 0 0 10px rgba(0, 0, 0, 0.2);
  --cart-shadow-light: 0 0 10px rgba(0, 0, 0, 0.1);
  --order-button-disabled-background-color: #dcdcdc;
  --order-button-disabled-color: #888888;
  --cart-color-danger-background-color: #ffe6e6;

  --slider-color: black;
  --slider-input-background-color: #d3d3d3;
  --slide-background:rgba(39, 39, 39, 0.03);



  /* transition for all  */
  --transiton-primary-all: all 0.3s ease-in-out;
}

body {
  font-family: var(--font-text);
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

body .container {
  max-width: 1280px;
  width: 100%;
  padding: 0 24px;
  margin: 0 auto;

  @media (min-width: 768px) {
    padding: 0 32px;
  }

  @media (min-width: 992px) {
    max-width: 1280px;
    padding: 0 40px;
  }
}

body.overflow-hidden {
  overflow-y: hidden !important;
}

.divider {
  border: none;
  height: 1px;
  background-color: var(--color-divider);
  margin: 15.5px 0;
}
