.neurodisplay{
    display: block;
    position: relative;
    overflow: hidden;
}

.neurodisplay__container{
    display: block;
    min-width: 320px;
    margin: 0;
    padding: 0;
}

.neurodisplay__content{
    display: flex; 
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    flex-wrap: wrap;
}

.neurodisplay_image-container{
    flex: 1;
    max-width: 50%; 
    position: relative;
    overflow: hidden;
    padding-top: 60%; 
}

.neurodisplay_image{
    min-height: 32px;
    align-self: stretch;
    object-position: 49.809% 100%;
    bottom: 0;
    left: 0;
    position: absolute;
    object-fit: cover;
}

.neurodisplay__text_container{
    flex: 1; 
    max-width: 50%; 
    padding: 0 20px; 
}

.neurodisplay__title{
    display: block;
    color: var(--color-primary);
    font-family: var(--font-title);
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 0px;
    font-size: 42px;
    
}

.slash{
    color: --color-accent;
}

.neurodisplay__status{
    color: var(--color-accent-additional);
    font-family: var(--font-text);
    font-size: 12px;
    font-weight: 700;
    line-height: 16.8px;
    margin: 0;
    letter-spacing: 2.4px;
    text-transform: uppercase;
}

.neurodisplay__price{
    color: var(--color-accent-additional);
    font-family: var(--font-text);
    display: block;
    margin: 0px;
    font-size: 30px;
    line-height: 42px;
    font-weight: 700;
}

.neurodisplay__description{
    color: var(--color-text-body);
    font-family: var(--font-text);
    display: block;
    font-size: 17px;
    line-height: 23.8px;
    /* font-weight: 400; */
    margin-top: 25px;
    margin-bottom: 0;
}

.neurodisplay__specs-title{
    color: var(--color-accent);
    font-family: var(--font-text);
    display: block;
    font-weight: 700;
    font-size: 22px;
    line-height: 28.6px;
    margin-top: 20px;
    margin-bottom: 0;
}

.neurodisplay__specs{
color: var(--color-text-body);
font-family: var(--font-text);
display: block;
font-size: 14px;
line-height: 19.6px;
margin-top: 20px;
}

.neurodisplay__specs-item{
    margin: 0;
}


.neurodisplay__specs-item_bold{
    font-weight: 700;
    line-height: 19.6 px;
}

.neurodisplay__button{
    display: flex;
    margin-top: 35px;
}

.button_order{
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    padding: 12px 21px;
    font-family: var(--font-text);
    background-color: var(--color-accent-additional);
    color: var(--color-primary-white);
    border: 1px solid var(--color-accent-additional);
}