/* Svitlana Voron`ko */
/* --- HERO SECTION --- */
/* --- HERO HEADER --- */
.hero__header {
  position: relative;
  display: block;
  padding: 90px 24px 30px;
}

.hero__header::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 20px;
  bottom: 0;
  z-index: -1;
  background: url("img/hero-index/hero-background.png") center / cover no-repeat;
  opacity: 0.9;
  background-attachment: fixed;
}

.hero__title {
  color: var(--color-text-primary);
  font-family: var(--font-title);
  font-size: 60px;
  font-weight: 400;
  line-height: 60px;
  text-align: start;
  margin-bottom: 40px;
}

.hero__description {
  color: var(--color-text-body);
  font-family: var(--font-text);
  font-size: 19px;
  font-weight: 600;
  line-height: 27px;
}

.hero__description__span {
  color: var(--color-accent-additional);
  font-weight: 700;
}

.hero__buttons {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 16px;
  margin-top: 35px;
}

.hero__button-primary {
  display: inline-block;
  background-color: var(--color-accent);
  color: var(--color-text-buttons);
  padding: 15px 40px;
  font-family: var(--font-text);
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 250ms ease-in-out;
}

.hero__button-primary:hover {
  background-color: var(--color-text-primary);
}

.hero__play-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.hero__play-icon {
  width: 24px;
  height: 24px;
}

.hero__button-secondary {
  color: var(--color-text-primary);
  font-family: var(--font-text);
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 250ms ease-in-out;
}

.hero a {
  color: var(--color-text-primary);
  text-decoration: none;
}

.hero__button-secondary:hover {
  text-decoration: underline;
}

@media (min-width: 768px) {
  .hero__header {
    padding: 108px 24px 30px;
  }
  .hero__title {
    font-size: 84px;
    line-height: 84px;
  }
  .hero__buttons {
    flex-direction: row;
    align-items: center;
  }
}

@media (min-width: 992px) {
  .hero__header {
    padding: 124px 124px 30px;
    flex-direction: column;
    justify-content: flex-start;
  }
  .hero__title {
    font-size: 109px;
    line-height: 109px;
  }
  .hero__title,
  .hero__description,
  .hero__buttons {
    width: 50%;
    max-width: 600px;
  }
}

/* --- HERO FOOTER --- */
.hero__footer {
  margin-top: 50px;
}

.hero__footer-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hero__footer-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero__footer-items__item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.hero__footer-icon {
  width: 20px;
  height: 24px;
}

.hero__footer-text {
  color: var(--color-text-body);
  font-size: 15px;
  font-weight: 700;
  line-height: 21px;
}

.hero__footer-divider {
  color: var(--color-divider);
  font-size: 24px;
}

@media (min-width: 768px) {
  .hero__footer-list {
    flex-direction: row;
    justify-content: space-between;
  }

  .hero__footer-items {
    justify-content: space-between;
  }

  .hero__footer-divider {
    display: inline;
    margin-left: auto;
    font-size: 36px;
  }
}

@media (min-width: 992px) {
  .hero__footer-list {
    flex-direction: row;
    justify-content: space-between;
  }

  .hero__footer-divider {
    display: inline;
    margin-left: 30px;
    font-size: 36px;
  }
}

/* BESTSELLER */

/* POPULAR ITEMS */

.popular-products__header {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  text-align: center;
}

.popular-products__items {
  color: var(--color-accent-additional);
  font-family: var(--font-text);
  font-size: 12px;
  font-weight: 700;
  line-height: 17px;
  text-transform: uppercase;
}

.popular-products__subtitle {
  color: var(--color-text-primary);
  font-family: var(--font-title);
  font-size: 64px;
  font-weight: 400;
  line-height: 77px;
  text-transform: uppercase;
}

.popular-products__description {
  color: var(--color-text-description);
  font-family: var(--font-text);
  font-size: 19px;
  font-weight: 600;
  line-height: 27px;
}

.popular-products__divider {
  color: var(--color-accent);
  font-family: var(--font-title);
  font-size: 64px;
}

.popular-products__btn-disabled {
  display: inline-block;
  background-color: var(--color-accent);
  color: var(--color-text-buttons);
  padding: 10px 20px;
  font-family: var(--font-text);
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  margin-top: 40px;
  border: none;
  border-radius: 8px;
  cursor: not-allowed;
  margin-top: 40px;
  opacity: 0.5;
}

.popular-products__badge {
  position: relative;
  top: 30px;
  left: 10px;
  display: inline-block;
  text-align: center;
  background-color: var(--color-secondary-button);
  color: var(--color-text-buttons);
  font-family: var(--font-text);
  font-size: 14px;
  font-weight: 600;
  padding: 4px 8px;
  text-decoration: none;
  border: none;
  border-radius: 4px;
}

.img-preview {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.popular-products__badge-out-of-stock {
  position: relative;
  top: -50px;
  left: 0p;
  display: block;
  text-align: center;
  background: #ffddd9;
  color: #cc3833;
  font-family: var(--font-text);
  font-size: 17px;
  font-weight: 400;
  padding: 4px 8px;
  height: 32px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.popular-products__badge-preorder {
  position: relative;
  top: -50px;
  left: 0p;
  display: block;
  text-align: center;
  background: #e2ffdd;
  color: #61a854;
  font-family: var(--font-text);
  font-size: 17px;
  font-weight: 400;
  padding: 4px 8px;
  height: 32px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.popular-products__product-card__name {
  color: var(--color-text-primary);
  font-family: var(--font-text);
  font-size: 21px;
  font-weight: 500;
  text-align: start;
  text-decoration: none;
}