/* POPULAR ITEMS */
.popular-items {
    display: flex;
    flex-direction: column;
    vertical-align: baseline;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
 
  .popular-products__products-content {
    display: block;
    padding: 30px 0 60px;
    margin-top: 45px;
  }
  
  .popular-products__header {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    text-align: center;
  }
  
  .popular-products__title {
    color: var(--color-accent-additional);
    font-family: var(--font-text);
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    text-transform: uppercase;
  }
  
  .popular-products__subtitle {
    color: var(--color-primary);
    font-family: var(--font-title);
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
    text-transform: uppercase;
  }
  
  .popular-products__description {
    color: var(--color-text-body);
    font-family: var(--font-text);
    font-size: 19px;
    font-weight: 600;
    line-height: 29px;
  }
  
  .popular-products__divider {
    color: var(--color-accent);
    font-family: var(--font-title);
    font-size: 40px;
  }
  
  .popular-products__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(196px, 1fr));
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 40px;
    margin-top: 30px;
    gap: 40px;
  }

  .popular-products__badge-bottom-pro {
    position: absolute;
    bottom: 10px;
    left: 0x;
    display: block;
    text-align: center;
    width: 100%;
    font-family: var(--font-text);
    font-size: 17px;
    font-weight: 400;
    padding: 4px 8px;
    height: 32px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }
  
  .popular-products__badge-out-of.stock-pro {
    background: var(--badge-out-of-stock-background);
    color: var(--badge-out-of-stock-color);
  }
  
  .badge__pre-order {
    background: var(--badge-preorder-background);
    color: var(--badge-preorder-color);
  }

  .popular-products__choose-currency {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .popular-products__currency-label {
    color: var(--color-text-body);
    font-family: var(--font-text);
    font-size: 17px;
    font-weight: 600;
    line-height: 29px;
  }
  
  #currency-select {
    padding: 4px 8px;
    border-radius: 4px;
    font-family: var(--font-text);
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    background-color: var( --color-header-brand);
    color: var(--color-primary-white);
    border: none;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }

#currency-select:hover {
  background-color: var(--color-primary);
  transition: var(--transiton-primary-all);
  }

  #currency-select:focus {
    outline: none;
    border-color: none;
  }

  .popular-products__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    margin-top: 30px;
    background: var(--color-accent-additional);
    color: var(--color-primary);
    font-family: var(--font-text);
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .popular-products__button:hover {
    background: var(--color-accent);
  }
  
  .popular-products__button:active {
    background: var(--color-accent-additional);
  }
  
  .popular-products__button:focus {
    outline: none;
  }
  
  .popular-products__button:disabled {
    background: var(--color-accent-additional);
    color: var(--color-text-body);
    cursor: not-allowed;
  }
  
  .popular-products__button:disabled:hover {
    background: var(--color-accent-additional);
  }
  
  .popular-products__button:disabled:active {
    background: var(--color-accent-additional);
  }
  
  .popular-products__button:disabled:focus {
    outline: none;
  }
  
  .popular-products__button-icon {
    margin-left: 10px;
  }
  
  .popular-products__button-icon svg {
    width: 20px;
    height: 20px;
  }
  
  .popular-products__button-icon path {
    fill: var(--color-primary);
  }
  
  .popular-products__button-icon:hover path {
    fill: var(--color-accent);
  }
  
  .popular-products__button-icon:active path {
    fill: var(--color-primary);
  }
  
  .popular-products__button-icon:focus path {
    fill: var(--color-primary);
  }
  
  @media (min-width: 768px) {
    .popular-products__subtitle,
    .popular-products__divider {
      font-size: 48px;
      line-height: 58px;
    }

}

  @media (min-width: 992px) {
    .popular-products__subtitle,
    .popular-products__divider {
      font-size: 64px;
      line-height: 77px;
    }
  }
  
 