/* Halyna Fedkiv */

.deals {
  display: block;
  background-color: var(--color-bg-second);
  position: relative;

  .deals__container {
    display: block;
    background-color: var(--color-bg-second);
    min-width: 320px;
    max-width: 1200px;
    overflow-wrap: break-word;
    padding: 90px 24px;

    @media (min-width: 767px) and (max-width: 991px) {
      padding: 105px 32px;
    }

    @media (min-width: 992px) and (max-width: 1279px) {
      padding: 120px 40px;
    }

    @media (min-width: 1280px) {
      padding: 120px 15px;
      margin: 0 auto;
    }

    .deals__header {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      flex-basis: 100%;
      text-align: center;

      /* Можна винести в global.css" як тег h2 */

      .deals__title {
        display: block;
        color: var(--color-accent-additional);
        font-family: var(--font-text);
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 2.4px;
        line-height: 16.8px;
        margin: 0;
      }

      /* Можна винести в global.css" як тег h3 */

      .deals__subtitle {
        display: block;
        color: var(--color-text-primary);
        font-family: var(--font-title);
        font-size: 40px;
        font-weight: 400;
        line-height: 48px;
        margin-top: 20px;
        margin-bottom: 0px;

        .__subtitle-divider {
          color: var(--color-accent);
        }

        @media (min-width: 768px) and (max-width: 991px) {
          font-size: 52px;
          line-height: 62.4px;
        }

        @media (min-width: 992px) {
          font-size: 64px;
          line-height: 76.8px;
        }
      }

      .deals__description {
        color: var(--color-text-secondary);
        font-family: var(--font-text);
        font-size: 19px;
        font-weight: 600;
        line-height: 26.6px;
        margin-top: 25px;
      }
    }

    .deals__content {
      margin-top: 45px;

      @media (min-width: 992px) {
        margin-top: 50px;
      }

      .deals__item {
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: var(--color-primary-white);
        border-radius: 10px;
        max-width: 100%;
        border-radius: 10px;
        margin-top: 30px;

        @media (min-width: 768px) {
          flex-direction: row;
          flex-grow: 1;
        }

        .deals__image-container {
          display: flex;
          flex-direction: column;
          overflow-x: hidden;
          overflow-y: hidden;
          position: relative;
          max-width: 100%;

          .deals__image {
            border-radius: 10px;
            position: absolute;
            object-fit: cover;
            max-width: 100%;
            min-height: 32px;
          }
        }

        .deals__text {
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding: 39px;
          text-align: left;

          @media (min-width: 768px) and (max-width: 991px) {
            padding: 46px;
          }

          @media (min-width: 992px) {
            padding: 60px;
          }

          .deals__category {
            display: block;
            color: var(--color-accent);
            font-family: var(--font-text);
            font-size: 12px;
            font-weight: 700;
            letter-spacing: 2.4px;
          }

          .deals__product-title {
            display: block;
            color: var(--color-primary);
            font-family: var(--font-text);
            font-size: 22px;
            font-weight: 700;
            line-height: 28.6px;
            margin-top: 20px;
            margin-bottom: 0px;

            @media (min-width: 768px) and (max-width: 991px) {
              font-size: 23px;
              line-height: 29.9px;
            }

            @media (min-width: 992px) {
              font-size: 24px;
              line-height: 31.2px;
            }
          }

          .deals__price {
            display: block;
            color: var(--color-primary);
            font-family: var(--font-text);
            font-size: 17px;
            font-weight: 700;
            line-height: 28.6px;
            margin-top: 20px;
            margin-bottom: 0px;

            .deals__price-sale {
              color: var(--color-accent-additional);
              font-size: 22px;
              font-weight: 700;

              @media (min-width: 768px) and (max-width: 991px) {
                font-size: 23px;
                line-height: 29.9px;
              }

              @media (min-width: 992px) {
                font-size: 24px;
                line-height: 31.2px;
              }
            }

            .deals__price-original {
              color: var(--color-text-body);
              font-size: 17px;
              font-weight: 700;
              line-height: 22.1px;
            }
          }

          .deals__description {
            display: block;
            color: var(--color-text-body);
            font-family: var(--font-text);
            font-size: 17px;
            line-height: 23.8px;
            margin-top: 20px;
            margin-bottom: 0px;
          }


          .accordion {
            display: flex;
            flex-direction: column;
            margin-top: 20px;
            padding: 20px 0px;
            border: none;
            background-color: transparent;

            .accordion-item {
              border: none;
            }

            .accordion-header {
              color: var(--color-accent);
              font-family: var(--font-text);
              border: none;
            }

            .accordion-button {
              border: none;
              background-color: transparent;
              box-shadow: none;
              outline: none;
              justify-content: space-between;
              color: var(--color-accent);
              font-family: var(--font-text);
              font-size: 22px;
              font-weight: 700;
              max-width: calc(100% - 35px);
              position: relative;
              padding: 0;
              margin: 0;


              @media (min-width: 768px) and (max-width: 991px) {
                font-size: 23px;
              }

              @media (min-width: 992px) {
                font-size: 24px;
              }

              &:not(.collapsed) {
                background-color: transparent;
              }
            }

            .accordion-collapse {
              border: none;
            }

            .accordion-body {
              padding: 0;

              .deals__specs-label {
                color: var(--color-text-body);
                font-family: var(--font-text);
                font-size: 17px;
                font-weight: 700;
                line-height: 23.8px;
              }

              .deals__specs-item {
                list-style: none;
                color: var(--color-text-body);
                font-family: var(--font-text);
                font-size: 17px;

                &::before {
                  content: "●";
                  color: var(--color-accent-additional);
                  font-size: 17px;
                  line-height: 23.8px;
                }
              }
            }
          }

          .deals__counter {
            display: block;
            margin-top: 30px;
            text-align: center;

            .deals__counter-content {
              display: grid;
              grid-template-columns: repeat(4, 1fr);
              gap: 20px;

              .deals__counter-item {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 100%;

                .deals__counter-icon {
                  width: 100%;
                  height: auto;
                  max-width: 100px;
                }

                .deals__counter-label {
                  margin-top: 10px;
                  font-size: 23px;
                  color: var(--color-primary);
                  opacity: 0.54;
                }

                @media (max-width: 760px) {
                  .deals__counter-icon {
                    max-width: 80px;
                  }

                  .deals__counter-label {
                    font-size: 12px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}