.testimonials__container {
  background-color: var(--color-primary-white);
  padding: 90px 0;

  @media (min-width: 768px) {
    padding: 105px 0;
  }

  @media (min-width: 992px) {
    padding: 120px 0;
  }

  .testimonials {
    .testimonials__title {
      font-family: var(--font-text);
      color: var(--color-accent-additional);
      font-size: 12px;
      font-weight: 700;
      letter-spacing: 2.4px;
      text-align: center;
      margin-bottom: 20px;
    }

    .testimonials__subtitle {
      font-family: var(--font-title);
      color: var(--color-primary);
      font-size: 40px;
      text-align: center;
      line-height: 1.2;

      .testimonials__divider {
        font-family: var(--font-title);
        color: var(--color-accent);
      }

      @media (min-width: 768px) {
        font-size: 52px;
      }

      @media (min-width: 990px) {
        font-size: 64px;
      }
    }

    .testimonials__description {
      font-family: var(--font-text);
      color: var(--color-text-body);
      font-size: 19px;
      font-weight: 600;
      text-align: center;
    }

    .testimonials__image-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-content: center;

      .testimonials__image {
        display: block;
        min-width: 272px;
        border-radius: 10px;
        overflow: hidden;
      }
    }
  }

  .testimonials__navigation {
    display: flex;
    align-items: center; 
    justify-content: center; 
    margin: auto;

    .testimonials__content {
      padding: 0 15px;
      flex: 1; 
      text-align: center;
      min-width: 260px;
      max-width: 700px;

      .testimonials__article {
        padding: 0 27px;

        @media (min-width: 768px) {
          padding: 0 28px;
        }

        @media (min-width: 992px) {
          padding: 0 30px;
        }

        .testimonials__icon-container {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-content: center;
          margin: 40px 0 20px 0;

          .testimonials__icon {
            display: block;
            min-width: 50px;
            color: var(--color-header-brand);
          }
        }

        .testimonials__author {
          font-family: var(--font-text);
          color: var(--color-header-primary-bg);
          font-size: 22px;
          font-weight: bold;
          text-align: center;
          margin-bottom: 20px;

          @media (min-width: 768px) {
            font-size: 23px;
          }

          @media (min-width: 992px) {
            font-size: 24px;
          }
        }

        .testimonials__text {
          font-family: var(--font-text);
          color: var(--color-text-body);
          font-size: 17px;
          text-align: center;
          margin-bottom: 20px;
        }

        .testimonials__date {
          font-family: var(--font-text);
          color: var(--color-header-secondary-accent);
          font-size: 14px;
          font-weight: bold;
          text-align: center;
          margin-bottom: 20px;
        }
      }
    }

    .testimonials__prev,
    .testimonials__next {
      background: none;
      border: none;
      font-size: 24px;
      cursor: pointer;
    }
  }
}
