.discount-club__top {
  justify-content: center;
  width: 1170px;
  height: 387px;
  background-image: url("img/join-discount-club/background-discount-club.webp");
  background-size: cover;
  background-position: center;
  border-radius: 7px;
  padding: 56px;
}
.discount-club__title-block {
  width: 1050px;
  height: 77px;
}
.discount-club__title {
  font-family: var(--font-title);
  color: #272727;
  text-align: left;
  font-size: 64px;
  margin: 0px 0px 25px;
}
.discount-club__title span {
  color: #fe7a15;
  text-align: center;
}
.discount-club__description {
  font-family: var(--font-text);
  font-size: 19px;
  color: #4d4d4d;
  margin: 0px 0px 25px;
}
.discount-club__description span {
  font-weight: 600;
}
.discount-club__note {
  font-family: var(--font-text);
  font-size: 15px;
  color: #6a6a6a;
}
.discount-club__cta-button {
  background-color: var(--color-accent);
  color: var(--color-primary-white);
  text-decoration: none;
  font-family: var(--font-text);
  font-size: 15.4px;
  font-weight: 600;
  text-align: center;
  padding: 16px 38px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  position: relative;
  top: 35px;
}
.discount-club__cta-button:hover {
  background-color: #272727;
}
.discount-club__bottom {
  display: flex;
}
.discount-club__card {
  display: flex;
  flex-direction: column;
  max-width: none;
  padding: 46px 30px;
}
.discount-club__icon {
  width: 70px;
  height: 70px;
  margin: 0 20 0;
}
.discount-club__card-title {
  font-family: var(--font-text);
  font-size: 24px;
  color: #272727;
  font-weight: 700;
  margin: 17px 0px 0px;
}
.discount-club__card-title::after {
  content: "";
  display: block;
  width: 40px;
  height: 5px;
  background-color: #1b4c97;
  margin: 17px 0px 0px;
}
.discount-club__card-description {
  font-size: 17px;
  color: #6a6a6a;
  margin: 17px 0px 0px;
}
.discount-club__card-description span {
  width: 226px;
  height: 46px;
}
