/* .partners-carousel__container{
    display: block;
} */

.partners-carousel__list .partners-carousel__item .partners-carousel__link{
display: block;
width: 130 px;
}

.partners-carousel__list .partners-carousel__link .partners-carousel__image{
    width: 100%;
}