/* Maksym Zymyn */

.product-gallery {
    display: flex;
    vertical-align: baseline;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    position: static;

    @media (max-width: 320px) {
        width: 320px;
    }

    .product-gallery__container {
        display: block;
        background-color: var(--color-bg-second);
        padding: 90px 24px;
        position: relative;


        .product-gallery__header {
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            text-align: center;

            .product-gallery__title {
                display: block;
                color: var(--color-accent-additional);
                font-family: var(--font-text);
                font-size: 12px;
                font-weight: 700;
                letter-spacing: 2.4px;
                justify-content: center;
            }

            .product-gallery__subtitle {
                display: block;
                color: var(--color-text-primary);
                font-family: var(--font-title);
                font-size: 40px;
                font-weight: 400;
                margin-top: 20px;
                justify-content: center;

                .product-gallery__divider {
                    color: var(--color-accent);
                    font-family: var(--font-title);
                    font-size: 40px;
                }
            }

            .product-gallery__description {
                color: var(--color-text-secondary);
                font-family: var(--font-text);
                font-size: 19px;
                margin-top: 25px;
            }
        }

        .product-gallery__content {
            display: block;
            justify-content: center;
            margin-top: 45px;
        }
    }
}