/* Halyna Fedkiv */

.deals {
  padding: 40px;
}

.deals__header {text-align: center;}

.deals__subtitle {
  color: var(--color-accent-additional);
  font-family: var(--font-text);
  font-size: 12px;
}

.deals-devider {
  color: var(--color-accent);
  font-family: var(--font-title);
  font-size: 64px;
}

.deals__title {
  color: var(--color-text-primary);
  font-family: var(--font-title);
  font-size: 64px;
}

.deals__description {
  color: var(--color-text-secondary);
  font-family: var(--font-text);
  font-size: 17px;
}

.deals__text {
  padding: 60px;
}

.deals__category {
  color: var(--color-accent);
  font-family: var(--font-text);
  font-size: 12px;
}

.deals__product-title {
  color: var(--color-text-primary);
  font-family: var(--font-text);
  font-size: 24px;
  font-weight: bold;
}

.deals__price {
  color: var(--color-text-primary);
  font-family: var(--font-text);
  font-size: 17px;
  font-weight: bold;
}

.deals__price-sale {
  color: var(--color-accent-additional);
  font-family: var(--font-text);
  font-size: 24px;
  font-weight: bold;
}

.deals__price-original {
  color: var(--color-text-body);
  font-family: var(--font-text);
  font-size: 17px;
  font-weight: bold;
}

.deals__description {
  color: var(--color-text-body);
  font-family: var(--font-text);
  font-size: 17px;
}

.deals__specs-title {
  color: var(--color-accent);
  font-family: var(--font-text);
  font-size: 24px;
  font-weight: 700;
}

.deals__specs-label {
  color: var(--color-text-body);
  font-family: var(--font-text);
  font-size: 17px;
  font-weight: 700;
}

.deals__specs-item {
  color: var(--color-text-body);
  font-family: var(--font-text);
  font-size: 17px;
}
