/* Svitlana Voron`ko */
/* --- HERO SECTION --- */
.hero__title {
  color: var(--color-text-primary);
  font-family: var(--font-title);
  font-size: 109px;
  font-weight: 400;
  text-align: start;
}

.hero__description {
  color: var(--color-text-body);
  font-family: var(--font-text);
  font-size: 19px;
  font-weight: 600;
}

.hero__description__span {
  color: var(--color-accent-additional);
}

.hero__button-primary {
  display: inline-block;
  background-color: var(--color-accent);
  color: var(--color-text-buttons);
  padding: 15px 40px;
  font-family: var(--font-text);
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  margin-top: 40px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 250ms ease-in-out;
}

.hero__btn-primary:hover {
  background-color: var(--color-text-primary);
}

/* BESTSELLER */


/* POPULAR ITEMS */

.popular-products__items {
  color: var(--color-accent-additional);
  font-family: var(--font-text);
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}

.popular-products__divider {
  color: var(--color-accent);
  font-family: var(--font-title);
  font-size: 64px;
}

.popular-products__subtitle {
  color: var(--color-text-primary);
  font-family: var(--font-title);
  font-size: 64px;
}

.popular-products__btn-disabled {
  display: inline-block;
  background-color: var(--color-accent);
  color: var(--color-text-buttons); 
  padding: 10px 20px;
  font-family: var(--font-text);
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  margin-top: 40px;
  border:none;
  border-radius: 8px;
  cursor: not-allowed;
  margin-top: 40px;
  opacity: 0.5;
}
