/* Svitlana Voron`ko */
/* --- HERO SECTION --- */
/* --- HERO HEADER --- */
.hero__header {
  position: relative;
  display: block;
  min-width: 320px;
  padding: 90px 24px 30px;
  background-image: url("./img/hero-index/hero-background.png");
  object-fit: cover;
  background-position: left;
  background-repeat: no-repeat;
  z-index: 1;
}

.hero__title {
  color: var(--color-primary);
  font-family: var(--font-title);
  font-size: 60px;
  font-weight: 400;
  line-height: 60px;
  text-align: start;
  margin-bottom: 40px;
}

.hero__description {
  color: var(--color-text-body);
  font-family: var(--font-text);
  font-size: 19px;
  font-weight: 600;
  line-height: 27px;
}

.hero__description__span {
  color: var(--color-accent-additional);
  font-weight: 700;
}

.hero__buttons {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 16px;
  margin-top: 35px;
}

.hero__button-primary {
  display: inline-block;
  text-align: center;
  background-color: var(--color-accent);
  color: var(--color-primary-white);
  padding: 15px 40px;
  font-family: var(--font-text);
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 250ms ease-in-out;
  &:hover {
    background-color: var(--color-primary);
  }
}

.hero__play-icon {
  width: 24px;
  height: 24px;
}

.hero__button-secondary {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-around;
  gap: 8px;
  color: var(--color-primary);
  font-family: var(--font-text);
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 250ms ease-in-out;
  &:hover {
    text-decoration: underline;
  }
}

.hero a {
  color: var(--color-primary);
  text-decoration: none;
}

@media (min-width: 768px) {
  .hero__header {
    padding: 108px 24px 30px;
    background-position: 45% 55%;
  }
  .hero__title {
    font-size: 84px;
    line-height: 84px;
  }
  .hero__buttons {
    flex-direction: row;
    align-items: center;
  }
  .hero__title,
  .hero__description,
  .hero__buttons {
    width: 50%;
    max-width: 600px;
  }
}

@media (min-width: 992px) {
  .hero__header {
    padding: 124px 124px 30px;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 1280px;
    margin: 0 auto;
  }
  .hero__title {
    font-size: 109px;
    line-height: 109px;
  }
}

/* --- HERO FOOTER --- */
.hero__footer {
  margin-top: 50px;
}

.hero__footer-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hero__footer-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero__footer-items__item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.hero__footer-icon {
  width: 20px;
  height: 24px;
}

.hero__footer-text {
  color: var(--color-text-body);
  font-size: 15px;
  font-weight: 700;
  line-height: 21px;
}

.hero__footer-divider {
  color: var(--color-divider);
  font-size: 24px;
}

@media (min-width: 768px) {
  .hero__footer-list {
    flex-direction: row;
    justify-content: space-between;
  }

  .hero__footer-items {
    justify-content: space-between;
  }

  .hero__footer-divider {
    display: inline;
    margin-left: auto;
    font-size: 36px;
  }
}

@media (min-width: 992px) {
  .hero__footer-list {
    flex-direction: row;
    justify-content: space-between;
    max-width: 1280px;
    margin: 0 auto;
  }

  .hero__footer-divider {
    display: inline;
    margin-left: 30px;
    font-size: 36px;
  }
}

/* BESTSELLER */

.featured-products {
  display: block;
  padding: 30px 24px 60px;
}

.featured-products__list {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: space-around;
  gap: 30px;
}

.featured-products__item {
  position: relative;
  min-width: 270px;
  min-height: 200px;
  word-wrap: break-word;
  width: 100%;
  background-size: cover;
  background-position: 25% 75%;
  border-radius: 10px;
}

.featured-products__content {
  display: flex;
  flex-direction: column;
  max-width: none;
  padding: 46px 30px;
  text-align: left;
}

.featured-products__badge {
  display: inline-block;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  line-height: 17px;
}

.featured-products__name {
  display: inline-block;
  font-size: 30px;
  font-weight: 700;
  line-height: 42px;
  margin-top: 20px;
  margin-bottom: 0;
}

.featured-products__description {
  display: inline-block;
  font-size: 17px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 25px;
  margin-bottom: 0;
}

.bestseller1 span {
  color: var(--color-accent-additional);
}

.bestseller2,
.bestseller3 {
  color: var(--color-primary-white);
}

.bestseller3 span {
  color: var(--color-accent-additional);
}

@media (min-width: 768px) {
  .featured-products__list {
    grid-template-columns: repeat(2, 1fr); /* Дві колонки */
    grid-template-rows: auto auto; /* Два ряди */
  }

  .featured-products__item:last-child {
    grid-column: 1 / -1; /* Розтягування на всі колонки */
  }

  .featured-products__item {
    background-position: 45% 55%;
  }
}

@media (min-width: 992px) {
  .featured-products__list {
    grid-template-columns: repeat(3, 1fr); /* Три колонки */
    grid-template-rows: auto; /* Один рядок */
    max-width: 1280px;
    margin: 0 auto;
  }

  .featured-products__item:last-child {
    grid-column: auto; /* Повертаємо звичайне розташування */
  }

  .featured-products__item {
    min-width: 270px;
    min-height: 300px;
  }

  .featured-products__name {
    font-size: 36px;
    line-height: 50px;
  }
}

/* POPULAR ITEMS */
.popular-products__products-container {
  display: block;
  padding: 30px 24px 60px;
  margin-top: 45px;
  max-width: 1280px;
  margin: 0 auto;
}

.popular-products__header {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  text-align: center;
}

.popular-products__title {
  color: var(--color-accent-additional);
  font-family: var(--font-text);
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  text-transform: uppercase;
}

.popular-products__subtitle {
  color: var(--color-primary);
  font-family: var(--font-title);
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
  text-transform: uppercase;
}

.popular-products__description {
  color: var(--color-text-body);
  font-family: var(--font-text);
  font-size: 19px;
  font-weight: 600;
  line-height: 29px;
}

.popular-products__divider {
  color: var(--color-accent);
  font-family: var(--font-title);
  font-size: 40px;
}

.popular-products__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(196px, 1fr));
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 40px;
  margin-top: 30px;
  gap: 30px;
}

@media (min-width: 992px) {
  .popular-products__subtitle,
  .popular-products__divider {
    font-size: 64px;
    line-height: 77px;
  }
}

/* Old card */
.products__item {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  border: none;
  max-width: 100%;
  width: 100%;
  height: 100%;
  border-radius: 0;
  transition: transform 0.2s ease-in-out;
  overflow: hidden;
}

.popular-products__badge {
  position: absolute;
  top: 10px;
  left: 40;
  display: inline-block;
  text-align: center;
  background-color: var(--color-secondary-button);
  color: var(--color-primary-white);
  font-family: var(--font-text);
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 4px 8px;
  text-decoration: none;
  border: none;
  border-radius: 4px;
}

.img-preview {
  width: 100%;
  max-width: 100%;
  border: none;
  border-radius: 0;
  margin: 0;
  padding: 0;
}

.popular-products__badge-bottom {
  position: absolute;
  bottom: 10px;
  left: 0x;
  display: block;
  text-align: center;
  width: 100%;
  font-family: var(--font-text);
  font-size: 17px;
  font-weight: 400;
  padding: 4px 8px;
  height: 32px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.popular-products__badge-out-of-stock {
  background: var(--badge-out-of-stock-background);
  color: var(--badge-out-of-stock-color);
}

.popular-products__badge-preorder {
  background: var(--badge-preorder-background);
  color: var(--badge-preorder-color);
}

.popular-products__product-card__name {
  color: var(--color-primary);
  font-family: var(--font-text);
  font-size: 21px;
  font-weight: 500;
  text-align: start;
  text-decoration: none;
}

.popular-products__product-card__price-old {
  color: var(--color-text-body);
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
  margin-right: 8px;
  text-decoration: line-through;
}

.popular-products__product-card__price-current {
  color: var(--color-accent-additional);
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
}

.product-card__button {
  position: absolute;
  bottom: 20;
  left: 50;
}

.btn-disabled {
  background-color: var(--color-accent);
  color: var(--color-primary-white);
  padding: 12px 21px;
  font-family: var(--font-text);
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  margin-top: 24px;
  border: none;
  border-radius: 8px;
  cursor: not-allowed;
  transition: var(--transiton-primary-all);
  align-self: flex-start;
  opacity: 0.5;
}

.btn-primary {
  background-color: var(--color-accent);
  color: var(--color-primary-white);
  padding: 12px 21px;
  font-family: var(--font-text);
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  margin-top: 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: var(--transiton-primary-all);
  align-self: flex-start;
  &:hover {
    background-color: var(--color-primary);
  }
}
