.categories {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;

  .categories__container {
    background-color: var(--color-primary-white);
    padding: 60px 24px 40px 24px;

    /* Кнопка для відкриття/закриття фільтрів (для мобільних) */
    .filters__toggle {
      align-items: center;
      background: none;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      display: block;
      display: flex;
      gap: 10px;
      margin-top: 20px;
      padding: 10px 15px;

      @media (min-width: 992px) {
        display: none;
      }
    }

    .categories__main {
      @media (min-width: 992px) {
        display: flex;
        row-gap: 16px;
      }

      .categories__filters {
        background-color: var(--color-primary-white);
        flex: 1;
        height: 100%;
        left: -100%; /* Ховається поза екраном */
        overflow-y: auto;
        padding: 20px;
        padding-bottom: 40px;
        position: fixed;
        top: 0;
        transition: left 0.3s ease; /* Анімація відкриття */
        width: 100%;
        z-index: 1000; /* Встановлює верхній рівень для коректного відображення */

        &.filters--open {
          left: 0; /* Відображає панель */
        }

        @media (min-width: 992px) {
          left: 0;
          max-width: 22%; /* Фільтри займають 22% ширини */
          position: relative;
          z-index: unset;
        }

        .filters__header {
          align-items: center;
          display: flex;
          justify-content: space-between;

          .filters__title {
            font-size: 1.2rem;
            font-weight: bold;

            @media (min-width: 992px) {
              font-size: 1.5rem;
              font-weight: 700;
              line-height: 31.2px;
            }
          }

          .filters__close {
            background: none;
            border: none;
            font-size: 2rem;

            @media (min-width: 992px) {
              display: none; /* Закриваюча кнопка ховається на великих екранах */
            }
          }
        }

        .filters__group {
          margin-bottom: 20px;

          &:before {
            background-color: var(--color-bottom-line);
            content: "";
            display: block;
            height: 1px;
            margin-bottom: 15px;
            margin-top: 15px;
            width: 100%;
          }

          .accordion__button {
            background: none;
            border: none;
            cursor: pointer;
            display: flex;
            font-size: 1rem;
            font-weight: bold;
            justify-content: space-between;
            outline: none;
            padding: 10px 0;
            text-align: left;
            width: 100%;

            @media (min-width: 992px) {
              font-size: 1.35rem;
              font-weight: 500;
              line-height: 29.4px;
            }

            .accordion-arrow {
              height: 16px;
              width: 16px;
            }

            &.accordion__button--active .accordion__arrow {
              transform: rotate(-180deg);
              transition: transform 0.3s ease, color 0.3s ease;
            }
          }

          .accordion__content {
            max-height: 0;
            overflow: hidden;
            padding: 0 10px;
            transition: max-height 0.2s ease-out;

            .filters__option-group {
              display: flex;
              flex-direction: column;
              gap: 10px;
              padding-top: 10px;

              .filters__option {
                .filters__option-label {
                  border-radius: 4px;
                  cursor: pointer;
                  font-size: 1rem;
                  padding: 5px;
                }

                &.filters__option--active {
                  font-weight: 700;
                }
              }
            }

            .price-slider-wrapper {
              padding: 20px 0;
            }

            #priceSlider {
              position: relative;
              width: 100%;
              height: 5px;
              margin: 30px 0;
              background: var(--slider-color) !important;
              border-radius: 5px;
            }

            /* Видаляємо можливі стилі noUiSlider, які можуть перекривати чорний фон */
            #priceSlider .noUi-base,
            #priceSlider .noUi-target {
              background: var(--slider-color) !important; /* Примусове застосування чорного */
            }

            /* Активна частина діапазону (смуга між бігунками) */
            #priceSlider .noUi-connect {
              background: var(--color-accent-additional) !important;
            }

            /* Додатково перевіряємо, чи noUi-background змінює фон */
            #priceSlider .noUi-background {
              background: var(--slider-color) !important;
            }

            /* Стилізація бігунків */
            #priceSlider .noUi-handle {
              background-color: var(--color-accent-additional);
              border: 2px solid var(--color-accent-additional);
              border-radius: 50%;
              height: 18px;
              width: 18px;
              cursor: grab;
              box-shadow: none;
              transition: transform 0.2s ease;
            }

            #priceSlider .noUi-handle:hover,
            #priceSlider .noUi-handle:active {
              transform: scale(1.2);
            }

            /* Стилізація числових полів */
            .price-inputs {
              display: flex;
              justify-content: center;
              gap: 20px;
              margin-top: 10px;
            }

            .price-input {
              background: var(--slider-input-background-color);
              padding: 5px 10px;
              border-radius: 4px;
              border: none;
              font-size: 0.9rem;
              min-width: 80px;
              text-align: center;
              outline: none;
              transition: border 0.2s ease;
            }

            .price-input:focus {
              border: 1px solid var(--color-accent);
            }
          }

          .filters__option-label--disabled {
            opacity: 0.5;
            cursor: not-allowed;
          }

          .filters__option--disabled {
            opacity: 0.5;
            cursor: not-allowed;
            pointer-events: none;
          }
        }

        &.filters--open {
          .filters__actions {
            left: 0;
            position: fixed;
            transition: left 0.3s ease;
          }
        }

        .filters__actions {
          align-items: center;
          background-color: var(--color-primary-white);
          border-top: 1px solid var(--color-primary-white);
          bottom: 0;
          box-sizing: border-box;
          display: flex;
          justify-content: space-between;
          left: -100%;
          padding: 10px;
          width: 100%;

          @media (min-width: 992px) {
            display: none;
          }

          .filters__apply-button {
            background-color: var(--color-accent-additional);
            border: none;
            border-radius: 5px;
            color: var(--color-primary-white);
            cursor: pointer;
            font-size: 14px;
            font-weight: bold;
            padding: 10px 20px;
            transition: background-color 0.3s;

            &:hover {
              background-color: var(--color-primary);
            }
          }

          .filters__clear-button {
            background: none;
            border: none;
            color: var(--color-primary);
            cursor: pointer;
            display: block;
            margin-top: 10px;
            text-decoration: underline;
          }
        }

        .filters__countdown {
          display: block;
          margin-top: 30px;
          text-align: center;

          .filters__countdown-content {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 20px;

            .filters__countdown-item {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              width: 100%;

              .filters__countdown-icon {
                width: 100%;
                height: auto;
                max-width: 100px;

                .filters__countdown-rect {
                  stroke: var(--color-accent);
                  stroke-width: 1;
                  fill: none;
                }

                .countdown-days,
                .countdown-hours,
                .countdown-minutes,
                .countdown-seconds {
                  font-size: 36px;
                  font-family: var(--font-title);
                  fill: var(--color-primary);
                }
              }

              .filters__countdown-label {
                margin-top: 10px;
                font-size: 23px;
                color: var(--color-primary);
                opacity: 0.54;

                @media (min-width: 480px) {
                  font-size: 18px;
                }
              }

              @media (max-width: 760px) {
                .filters__countdown-icon {
                  max-width: 80px;
                }

                .filters__countdown-label {
                  font-size: 12px;
                }
              }
            }
          }
        }
      }
    }

    /* Контейнер для карток товарів */
    .categories__content {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;

      @media (min-width: 992px) {
        max-width: 78%; /* Вміст займає 78% ширини */
        width: 100%;
      }

      .cards {
        display: grid;
        flex: 3;
        gap: 20px;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

        @media (min-width: 992px) {
          grid-template-columns: repeat(3, minmax(200px, 1fr));
          justify-content: start;
        }

        @media (min-width: 1100px) {
          grid-auto-rows: minmax(auto, 450px);
        }

        @media (min-width: 1160px) {
          grid-template-columns: repeat(4, minmax(200px, 1fr));
          grid-auto-rows: minmax(auto, 400px);
        }

        .card {
          background-color: var(--color-primary-white);
          border-radius: 8px;
          box-shadow: 0 4px 8px var(--card-box-shadow);
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding: 18px;
          position: relative;
          text-align: center;
          min-height: 425px;

          @media (min-width: 850px) and (max-width: 955px) {
            min-height: 450px;
          }

          @media (min-width: 1050px) {
            min-height: 450px;
          }

          @media (min-width: 1100px) {
            min-height: 360px;
          }

          .card__image-container {
            position: relative;
            height: auto;
            margin-bottom: 10px;
            max-width: 100%;

            .card__image {
              object-fit: contain;
              width: 100%;
            }

            .badge-bottom-pro {
              position: absolute;
            }

            .badge-out-of-stock-pro,
            .pre-order-pro {
              bottom: 0;
              left: 0;
              right: 0;
              padding: 5px;
              text-align: center;
              font-weight: bold;
              border-radius: 0 0 5px 5px;
              font-size: 1em;
              z-index: 10;
            }

            .badge-out-of-stock-pro {
              background-color: var(--badge-out-of-stock-background);
              color: var(--badge-out-of-stock-color);
            }

            .pre-order-pro {
              background-color: var(--badge-preorder-background);
              color: var(--badge-preorder-color);
            }
            .out-of-stock,
            .pre-order {
              margin: 0;
            }
          }

          &.card--promo {
            .card__label {
              background-color: var(--color-primary);
              border-radius: 3px;
              color: var(--color-primary-white);
              font-size: 0.8rem;
              left: 10px;
              padding: 5px 10px;
              position: absolute;
              text-transform: uppercase;
              top: 10px;
            }
          }

          .card__info {
            align-items: self-start;
            display: flex;
            flex-direction: column;
            gap: 0;
            height: 100%;
            justify-content: flex-start;
            text-align: left;
            margin-top: auto;
            position: relative;

            .card__name {
              font-size: 1.15rem;
              font-weight: 500;
              margin-top: 5px;
              margin-bottom: 16px;

              @media (min-width: 736px) {
                margin-bottom: 10px;
              }

              .card__name-link {
                color: var(--color-primary);
                text-decoration: none;
              }
            }

            .card__price-container {
              column-gap: 16px;
              display: flex;
              flex-direction: row;
              flex-wrap: wrap;
              justify-content: flex-start;
              margin-top: auto;
              width: 100%;
              margin-bottom: 45px;

              .card__price {
                color: var(--color-accent-additional);
                font-size: 1.25rem;
                font-weight: 700;
                line-height: 28px;
              }

              .card__price--old {
                color: var(--color-primary);
                font-size: 1.125rem;
                font-weight: 500;
                line-height: 25.2px;
                margin-bottom: 5px;
                text-decoration: line-through;
              }
            }

            .card__label {
              font-weight: bold;
            }

            .card__button {
              position: absolute;
              bottom: 0;
              left: 48px;
              transform: translateX(-50%);
              background-color: var(--color-accent);
              color: var(--color-primary-white);
              border: none;
              border-radius: 4px;
              cursor: pointer;
              padding: 10px 15px;
              transition: background-color 0.3s ease;

              &:hover {
                background-color: var(--color-primary);
              }

              &[disabled] {
                cursor: not-allowed;
                background-color: var(--color-text-body);
              }
            }
          }
        }
      }

      .load-more {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        width: auto;
      }
    }
  }
}
