/* Halyna Fedkiv */

.new-product {
  display: flex;
  flex-direction: column-reverse;
  vertical-align: baseline;
  background-color: var(--color-primary-white);
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  position: relative;


  .new-product__container {
    display: flex;
    justify-content: center;
    padding: 90px 30px;
    vertical-align: baseline;


    .new-product__image-container {
      display: block;
      position: absolute;
      max-width: 100%;
      overflow: hidden;


      .new-product__image {
        display: block;
        min-height: 32px;
        margin: auto;
        /*object-fit: cover;
        object-position: 49.809% 100%;*/
      }

      @media (min-width: 768px) {
        .new-product__image {
          display: inline;

        }
      }

      @media (max-width: 767px) {
        .new-product__image {
          display: inline;
        }
      }
    }

    .new-product__content-container {
      display: block;

      .new-product__content {
        display: flex;
        flex-basis: 100%;
        flex-direction: column;
        justify-content: flex-start;
        text-align: left;
        position: relative;


        .new-product__subtitle {
          display: block;
          color: var(--color-accent-additional);
          font-family: var(--font-text);
          font-size: 12px;
          font-weight: 700;
          letter-spacing: 2.4px;
        }


        .new-product__title {
          display: block;
          color: var(--color-text-primary);
          font-family: var(--font-title);
          font-size: 40px;
          font-weight: 400;
          margin-top: 20px;


          .new-product__devider {
            color: var(--color-accent);
            font-family: var(--font-title);
          }
        }


        .new-product__price {
          display: block;
          color: var(--color-accent-additional);
          font-family: var(--font-text);
          font-size: 30px;
          font-weight: 700;
        }

        .new-product__description {
          display: block;
          color: var(--color-text-body);
          font-family: var(--font-text);
          font-size: 17px;
          font-weight: 400;
          margin-top: 25px;
        }

        .new-product__specs-title {
          display: block;
          color: var(--color-accent);
          font-family: var(--font-text);
          font-size: 22px;
          font-weight: 700;
          margin-top: 20px;
        }

        .new-product__specs {
          display: block;
          color: var(--color-text-body);
          font-family: var(--font-text);
          font-size: 14px;
          margin-top: 20px;


          .new-product__specs-label {
            font-weight: 700;
          }

        }

        .new-product__button {
          display: flex;
          margin-top: 35px;


          .button {
            display: inline-block;
            padding: 12px 21px;
            font-family: var(--font-text);
            font-size: 14px;
            font-weight: 700;
            text-align: center;
            text-decoration: none;
            border-radius: 8px;
            background-color: var(--color-accent-additional);
            color: var(--color-text-buttons);
            border: 1px solid var(--color-accent-additional);


            &:hover {
              cursor: pointer;
              background-color: var(--color-text-primary);
              border: 1px solid var(--color-text-primary);
            }
          }
        }
      }
    }
  }
}