<section class="hero">
  <div class="hero__content">
    <h1 class="hero__title">Take Your Gadgets to the Next Level!</h1>
    <p class="hero__description">
      Discover the latest in tech innovation with exclusive discounts up to 50%
      off. Don’t miss out on these offers!
    </p>
    <div class="hero__buttons">
      <a href="#" class="hero__button hero__button--primary"
        >Shop Now</a
      >
      <a href="#" class="hero__button hero__button--secondary"
        >Watch Video</a
      >
    </div>
  </div>
  <div class="hero__features">
    <ul class="hero__feature-list">
      <li class="hero__feature-item">
        <img
          width="20"
          height="24"
          src="img/hero/icons/headphones.svg"
          alt="Headphones Icon"
          class="hero__feature-icon"
        />
        <span class="hero__feature-text">Wireless & Wired Headphones</span>
      </li>
      <li class="hero__feature-divider">|</li>
      <li class="hero__feature-item">
        <img
          width="20"
          height="24"
          src="img/hero/icons/keyboard.svg"
          alt="Keyboard Icon"
          class="hero__feature-icon"
        />
        <span class="hero__feature-text">Mechanical Keyboards</span>
      </li>
      <li class="hero__feature-divider">|</li>
      <li class="hero__feature-item">
        <img
          width="20"
          height="24"
          src="img/hero/icons/mouse.svg"
          alt="Mouse Icon"
          class="hero__feature-icon"
        />
        <span class="hero__feature-text">Optical and Laser Mice</span>
      </li>
      <li class="hero__feature-divider">|</li>
      <li class="hero__feature-item">
        <img
          width="20"
          height="24"
          src="img/hero/icons/monitor.svg"
          alt="Monitor Icon"
          class="hero__feature-icon"
        />
        <span class="hero__feature-text">High-Resolution Monitors</span>
      </li>
    </ul>
  </div>
</section>

<section class="featured-products">
  <h2 class="featured-products__title">Featured Products</h2>
  <div class="featured-products__list">
    <article class="featured-products__item">
      <img
        src="img/featured/keygo-x1.jpg"
        alt="KeyGo X1"
        class="featured-products__image"
      />
      <h3 class="featured-products__name">KeyGo X1</h3>
      <p class="featured-products__description">Wireless keyboard.</p>
    </article>
    <article class="featured-products__item">
      <img
        src="img/featured/quantum-x1.jpg"
        alt="QuantumX1"
        class="featured-products__image"
      />
      <h3 class="featured-products__name">QuantumX1</h3>
      <p class="featured-products__description">Expand your gaming.</p>
    </article>
    <article class="featured-products__item">
      <img
        src="img/featured/aerotrack-300.jpg"
        alt="AeroTrack 300"
        class="featured-products__image"
      />
      <h3 class="featured-products__name">AeroTrack 300</h3>
      <p class="featured-products__description">Ultra-wide for work.</p>
    </article>
  </div>
</section>

<section class="popular-products">
  <h2 class="popular-products__title">Power Up with the Best in Tech</h2>
  <p class="popular-products__description">
    Discover our best-selling items that our customers love!
  </p>
  <div class="popular-products__list">
    <article class="popular-products__item">
      <img
        src="img/popular/pixelview-flex.jpg"
        alt="PixelView Flex Monitor"
        class="popular-products__image"
      />
      <h3 class="popular-products__name">PixelView Flex</h3>
      <p class="popular-products__price">$199.99</p>
    </article>
    <article class="popular-products__item">
      <img
        src="img/popular/novasound-pro-2000.jpg"
        alt="NovaSound Pro 2000 Headphones"
        class="popular-products__image"
      />
      <h3 class="popular-products__name">NovaSound Pro 2000</h3>
      <p class="popular-products__price">$92.00</p>
    </article>
    <article class="popular-products__item">
      <img
        src="img/popular/quantum-board-x1.jpg"
        alt="QuantumBoard X1 Keyboard"
        class="popular-products__image"
      />
      <h3 class="popular-products__name">QuantumBoard X1</h3>
      <p class="popular-products__price">$65.00</p>
    </article>
    <article class="popular-products__item">
      <img
        src="img/popular/aerowave-210.jpg"
        alt="AeroWave 210 Headphones"
        class="popular-products__image"
      />
      <h3 class="popular-products__name">AeroWave 210</h3>
      <p class="popular-products__price">$89.99</p>
    </article>
    <!-- Add more product items as necessary -->
  </div>
</section>
