<section class="hero">
  <div class="hero__content">
    <h1 class="hero__title">Take Your Gadgets to the Next Level!</h1>
    <p class="hero__description">
      Discover the latest in tech innovation with exclusive discounts up to 50%
      off. Don’t miss out on these offers!
    </p>
    <div class="hero__buttons">
      <a href="#" class="hero__button hero__button--primary"
        >Shop Now</a
      >
      <a href="#" class="hero__button hero__button--secondary"
        >Watch Video</a
      >
    </div>
  </div>
  <div class="hero__features">
    <ul class="hero__feature-list">
      <li class="hero__feature-item">
        <img
          width="20"
          height="24"
          src="img/hero-index/icons/headphones.svg"
          alt="Headphones Icon"
          class="hero__feature-icon"
        />
        <span class="hero__feature-text">Wireless & Wired Headphones</span>
      </li>
      <li class="hero__feature-divider">|</li>
      <li class="hero__feature-item">
        <img
          width="20"
          height="24"
          src="img/hero-index/icons/keyboard.svg"
          alt="Keyboard Icon"
          class="hero__feature-icon"
        />
        <span class="hero__feature-text">Mechanical Keyboards</span>
      </li>
      <li class="hero__feature-divider">|</li>
      <li class="hero__feature-item">
        <img
          width="20"
          height="24"
          src="img/hero-index/icons/mouse.svg"
          alt="Mouse Icon"
          class="hero__feature-icon"
        />
        <span class="hero__feature-text">Optical and Laser Mice</span>
      </li>
      <li class="hero__feature-divider">|</li>
      <li class="hero__feature-item">
        <img
          width="20"
          height="24"
          src="img/hero-index/icons/monitor.svg"
          alt="Monitor Icon"
          class="hero__feature-icon"
        />
        <span class="hero__feature-text">High-Resolution Monitors</span>
      </li>
    </ul>
  </div>
</section>

<section class="featured-products">
  <!-- <h2 class="featured-products__title">Featured Products</h2> -->
  <div class="featured-products__list">
    <!-- KeyGo X1 -->
    <article
      class="featured-products__item"
      style="background-image: url('img/hero-index/featured/keygo-x1.webp')"
    >
      <div class="featured-products__content">
        <span class="featured-products__badge">Bestseller</span>
        <h3 class="featured-products__name">KeyGo X1</h3>
        <p class="featured-products__description">Wireless headphones.</p>
      </div>
    </article>

    <!-- QuantumX1 -->
    <article
      class="featured-products__item"
      style="background-image: url('img/hero-index/featured/quantum-x1.webp')"
    >
      <div class="featured-products__content">
        <span class="featured-products__badge">Bestseller</span>
        <h3 class="featured-products__name">QuantumX1</h3>
        <p class="featured-products__description">Keyboard for gamers.</p>
      </div>
    </article>

    <!-- AeroTrack 300 -->
    <article
      class="featured-products__item"
      style="background-image: url('img/hero-index/featured/aerotrack-300.webp')"
    >
      <div class="featured-products__content">
        <span class="featured-products__badge">Bestseller</span>
        <h3 class="featured-products__name">AeroTrack 300</h3>
        <p class="featured-products__description">Ultimate mice for work.</p>
      </div>
    </article>
  </div>
</section>

<section class="popular-products">
  <p class="popular-products__items">POPULAR ITEMS</p>
  <h2 class="popular-products__title">Power Up with the Best in Tech</h2>
  <p class="popular-products__description">
    Discover our best-selling items that our customers love!
  </p>
  <div class="popular-products__list">
    <article class="popular-products__item">
      <img width="304"
        src="img/hero-index/popular/pixelview-flex.png"
        alt="PixelView Flex Monitor"
        class="popular-products__image"
      />
      <h3 class="popular-products__name">PixelView Flex</h3>
      <p class="popular-products__price">$199.99</p>
    </article>
    <article class="popular-products__item">
      <img width="304"
        src="img/hero-index/popular/novasound-pro-3000.png"
        alt="NovaSound Pro 3000 Headphones"
        class="popular-products__image"
      />
      <h3 class="popular-products__name">NovaSound Pro 3000</h3>
      <p class="popular-products__price">$92.00</p>
    </article>
    <article class="popular-products__item">
      <img width="304"
        src="img/hero-index/popular/quantumboard-x1.png"
        alt="QuantumBoard X1 Keyboard"
        class="popular-products__image"
      />
      <h3 class="popular-products__name">QuantumBoard X1</h3>
      <p class="popular-products__price">$65.00</p>
    </article>
    <article class="popular-products__item">
      <img width="304"
        src="img/hero-index/popular/aerowave-250.png"
        alt="AeroWave 250 Headphones"
        class="popular-products__image"
      />
      <h3 class="popular-products__name">AeroWave 250</h3>
      <p class="popular-products__price">$89.99</p>
    </article>
    <article class="popular-products__item">
      <img width="304"
        src="img/hero-index/popular/lumimouse-pro.png"
        alt="LumiMouse Pro"
        class="popular-products__image"
      />
      <h3 class="popular-products__name">LumiMouse Pro</h3>
      <p class="popular-products__price">$89.99</p>
    </article>
    <article class="popular-products__item">
      <img width="304"
        src="img/hero-index/popular/aerobeats-500.png"
        alt="AeroBeats 500"
        class="popular-products__image"
      />
      <h3 class="popular-products__name">AeroBeats 500</h3>
      <p class="popular-products__price">$89.99</p>
    </article>
    <article class="popular-products__item">
      <img width="304"
        src="img/hero-index/popular/syncromouse-elite.png"
        alt="SyncroMouse Elite"
        class="popular-products__image"
      />
      <h3 class="popular-products__name">SyncroMouse Elite</h3>
      <p class="popular-products__price">$89.99</p>
    </article>
    <article class="popular-products__item">
      <img width="304"
        src="img/hero-index/popular/neurosound-700.png"
        alt="NeuroSound 700"
        class="popular-products__image"
      />
      <h3 class="popular-products__name">NeuroSound 700</h3>
      <p class="popular-products__price">$89.99</p>
    </article>
    <article class="popular-products__item">
      <img width="304"
        src="img/hero-index/popular/atype-300-keyboard.png"
        alt="AType 300 Keyboard"
        class="popular-products__image"
      />
      <h3 class="popular-products__name">AType 300 Keyboard</h3>
      <p class="popular-products__price">$89.99</p>
    </article>
    <article class="popular-products__item">
      <img width="304"
        src="img/hero-index/popular/novascreen-ultra.png"
        alt="NovaScreen Ultra"
        class="popular-products__image"
      />
      <h3 class="popular-products__name">NovaScreen Ultra</h3>
      <p class="popular-products__price">$89.99</p>
    </article>
    <!-- Add more product items as necessary -->
  </div>
</section>

