<!-- Maksym Zymyn -->
<div class="product-gallery__items">
  <div class="product-gallery__grid">
    <article
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="./cards/aerobeats.html"
    ></article>
    <article
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="./cards/aerotrack.html"
    ></article>
    <article
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="./cards/aerowave.html"
    ></article>
    <article
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="./cards/aerogrip.html"
    ></article>
    <article
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="./cards/lumimouse-pro.html"
    ></article>
    <article
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="./cards/lumivision.html"
    ></article>
    <article
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="./cards/neurokey.html"
    ></article>
  </div>
  <div class="load-more">
    <button type="button" class="btn btn-outline-dark">Load More</button>
  </div>
</div>
