<!-- Svitlana Voron`ko -->
<section class="hero">
  <!-- HERO__HEADER -->
  <div
    class="hero__header"
    style="background-image: url('img/hero-index/hero-background.png')"
    aria-hidden="true"
  >
    <h1 class="hero__title">Take Your Gadgets to the Next Level!</h1>
    <p class="hero__description">
      Discover the latest in tech innovation with exclusive discounts up to
      <span class="hero__description__span">50% off</span>. Don’t miss out on
      these offers!
    </p>
    <div class="hero__buttons">
      <a href="#" class="hero__button"
        ><span class="hero__button hero__button-primary">Shop Now</span></a
      >
      <div class="hero__play-wrapper">
        <img
          src="img/hero-index/icons/play.svg"
          alt="Play Icon"
          class="hero__play-icon"
        />
        <a href="#" class="hero__button hero__button-secondary">Watch Video</a>
      </div>
    </div>
    <!-- HERO__FOOTER -->
    <div class="hero__footer">
      <div class="hero__footer-list">
        <div class="hero__footer-items">
          <div class="hero__footer-items__item">
            <img
              src="img/hero-index/icons/headphones.svg"
              alt="Headphones Icon"
              class="hero__footer-icon"
            />
            <span class="hero__footer-text">Wireless and Wired Headphones</span>
          </div>
          <div class="hero__footer-divider">|</div>
        </div>
        <div class="hero__footer-items">
          <div class="hero__footer-items__item">
            <img
              src="img/hero-index/icons/keyboard.svg"
              alt="Keyboard Icon"
              class="hero__footer-icon"
            />
            <span class="hero__footer-text">Mechanical Keyboards</span>
          </div>
          <div class="hero__footer-divider">|</div>
        </div>
        <div class="hero__footer-items">
          <div class="hero__footer-items__item">
            <img
              src="img/hero-index/icons/mouse.svg"
              alt="Mouse Icon"
              class="hero__footer-icon"
            />
            <span class="hero__footer-text">Optical and Laser Mice</span>
          </div>
          <div class="hero__footer-divider">|</div>
        </div>
        <div class="hero__footer-items">
          <div class="hero__footer-items__item">
            <img
              src="img/hero-index/icons/monitor.svg"
              alt="Monitor Icon"
              class="hero__footer-icon"
            />
            <span class="hero__footer-text">High-Resolution Monitors</span>
          </div>
          <div class="hero__footer-divider">|</div>
        </div>
      </div>
    </div>
  </div>
  <!-- BESTSELLER -->
  <div class="featured-products">
    <div class="featured-products__list">
      <!-- KeyGo X1 -->
      <article
        class="featured-products__item bestseller1"
        style="background-image: url('img/hero-index/featured/keygo-x1.webp')"
        aria-hidden="true"
      >
        <div class="featured-products__content">
          <span class="featured-products__badge">Bestseller</span>
          <h3 class="featured-products__name">KeyGo X1</h3>
          <p class="featured-products__description">Wireless headphones.</p>
        </div>
      </article>
      <!-- QuantumX1 -->
      <article
        class="featured-products__item bestseller2"
        style="background-image: url('img/hero-index/featured/quantum-x1.webp')"
        aria-hidden="true"
      >
        <div class="featured-products__content">
          <span class="featured-products__badge">Bestseller</span>
          <h3 class="featured-products__name">QuantumX1</h3>
          <p class="featured-products__description">Keyboard for gamers.</p>
        </div>
      </article>
      <!-- AeroTrack 300 -->
      <article
        class="featured-products__item bestseller3"
        style="
          background-image: url('img/hero-index/featured/aerotrack-300.webp');
        "
        aria-hidden="true"
      >
        <div class="featured-products__content">
          <span class="featured-products__badge">Bestseller</span>
          <h3 class="featured-products__name">AeroTrack 300</h3>
          <p class="featured-products__description">Ultimate mice for work.</p>
        </div>
      </article>
    </div>
  </div>
  <!-- POPULAR ITEMS -->
  <div class="popular-products__products-container">
    <div class="popular-products__header section__header">
      <h2 class="section__title">POPULAR ITEMS</h2>
      <p class="popular-products__subtitle section__subtitle">
        <span class="popular-products__divider section__divider">/</span>
        POWER UP WITH THE BEST IN TECH
        <span class="popular-products__divider section__divider">/</span>
      </p>
      <p class="popular-products__description section__description">
        Discover our best-selling items that our customers love!
      </p>
      <div class="divider"></div>
    </div>
    <div class="popular-products__list">
      <!-- PixelView Flex -->
      <article
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="./cards/pixelview-flex.html"
      ></article>
      <!-- NovaSound Pro 3000 -->
      <article
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="./cards/novasound-pro.html"
      ></article>
      <!-- QuantumBoard X1 -->
      <article
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="./cards/quantumboard.html"
      ></article>
      <!-- AeroWave 250 -->
      <article
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="./cards/aerowave.html"
      ></article>
      <!-- LumiMouse Pro -->
      <article
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="./cards/lumimouse-pro.html"
      ></article>
      <!-- AeroBeats 500 -->
      <article
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="./cards/aerobeats.html"
      ></article>
      <!-- SyncroMouse Elite -->
      <article
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="./cards/syncromouse.html"
      ></article>
      <!-- NeuroSound 700 -->
      <article
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="./cards/neurosound.html"
      ></article>
      <!-- AType 300 Keyboard -->
      <article
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="./cards/atype-300-keyboard.html"
      ></article>
      <!-- NovaScreen Ultra -->
      <article
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="./cards/novascreen-ultra.html"
    ></article>
      <!-- Add more product items as necessary -->
    </div>
  </div>
</section>
