<!-- Maksym Zymyn -->
<aside class="product-gallery__filters filters">
  <div class="filters__header">
    <svg
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="index.categories-aside.filters-icon.html"
    ></svg>
    <h4 class="filters__title">Filters</h4>
  </div>
  <ul class="filters__list">
    <li class="filters__item">
      <div>
        <button class="filter-button">
          <h5 class="filters__item-title">Category</h5>
          <svg
            data-hx-trigger="load"
            data-hx-swap="outerHTML"
            data-hx-get="index.categories-aside.accordion-button.html"
          ></svg>
        </button>
      </div>
      <ul class="filters__item-category">
        <li class="filters__item-category-option selected">All</li>
        <li class="filters__item-category-option">Monitors</li>
        <li class="filters__item-category-option">Headphones</li>
        <li class="filters__item-category-option">Mice</li>
        <li class="filters__item-category-option">Keyboards</li>
      </ul>
    </li>

    <li class="filters__item">
      <div>
        <button class="filter-button">
          <h5 class="filters__item-title">Price</h5>
          <svg
            data-hx-trigger="load"
            data-hx-swap="outerHTML"
            data-hx-get="index.categories-aside.accordion-button.html"
          ></svg>
        </button>
      </div>
      <input type="range" class="slider" min="32.00" max="225.99" />
      <div class="filters__price-inputs">
        <input type="number" class="price-input" value="32,00" />
        <input type="number" class="price-input" value="225,99" />
      </div>
    </li>

    <li class="filters__item">
      <div>
        <button class="filter-button">
          <h5 class="filters__item-title">Color</h5>
          <svg
            data-hx-trigger="load"
            data-hx-swap="outerHTML"
            data-hx-get="index.categories-aside.accordion-button.html"
          ></svg>
        </button>
      </div>
      <ul class="filters__item-category">
        <li class="filters__item-category-option">
          <label class="filters__label">
            <input class="filters__checkbox" type="checkbox" name="color" />
            <svg
              data-hx-trigger="load"
              data-hx-swap="outerHTML"
              data-hx-get="index.categories-aside.checkbox.html"
            ></svg>
            <span class="filters__item-category-option-text">Black</span>
          </label>
        </li>
        <li class="filters__item-category-option">
          <label class="filters__label">
            <input class="filters__checkbox" type="checkbox" name="color" />
            <svg
              data-hx-trigger="load"
              data-hx-swap="outerHTML"
              data-hx-get="index.categories-aside.checkbox.html"
            ></svg>
            <span class="filters__item-category-option-text">Blue</span>
          </label>
        </li>
        <li class="filters__item-category-option">
          <label class="filters__label">
            <input class="filters__checkbox" type="checkbox" name="color" />
            <svg
              data-hx-trigger="load"
              data-hx-swap="outerHTML"
              data-hx-get="index.categories-aside.checkbox.html"
            ></svg>
            <span class="filters__item-category-option-text">Green</span>
          </label>
        </li>
        <li class="filters__item-category-option">
          <label class="filters__label">
            <input class="filters__checkbox" type="checkbox" name="color" />
            <svg
              data-hx-trigger="load"
              data-hx-swap="outerHTML"
              data-hx-get="index.categories-aside.checkbox.html"
            ></svg>
            <span class="filters__item-category-option-text">Grey</span>
          </label>
        </li>
        <li class="filters__item-category-option">
          <label class="filters__label">
            <input class="filters__checkbox" type="checkbox" name="color" />
            <svg
              data-hx-trigger="load"
              data-hx-swap="outerHTML"
              data-hx-get="index.categories-aside.checkbox.html"
            ></svg>
            <span class="filters__item-category-option-text">Multicolor</span>
          </label>
        </li>
        <li class="filters__item-category-option">
          <label class="filters__label">
            <input class="filters__checkbox" type="checkbox" name="color" />
            <svg
              data-hx-trigger="load"
              data-hx-swap="outerHTML"
              data-hx-get="index.categories-aside.checkbox.html"
            ></svg>
            <span class="filters__item-category-option-text">Orange</span>
          </label>
        </li>
        <li class="filters__item-category-option">
          <label class="filters__label">
            <input class="filters__checkbox" type="checkbox" name="color" />
            <svg
              data-hx-trigger="load"
              data-hx-swap="outerHTML"
              data-hx-get="index.categories-aside.checkbox.html"
            ></svg>
            <span class="filters__item-category-option-text">Pink</span>
          </label>
        </li>
        <li class="filters__item-category-option">
          <label class="filters__label">
            <input class="filters__checkbox" type="checkbox" name="color" />
            <svg
              data-hx-trigger="load"
              data-hx-swap="outerHTML"
              data-hx-get="index.categories-aside.checkbox.html"
            ></svg>
            <span class="filters__item-category-option-text">Purple</span>
          </label>
        </li>
        <li class="filters__item-category-option">
          <label class="filters__label">
            <input class="filters__checkbox" type="checkbox" name="color" />
            <svg
              data-hx-trigger="load"
              data-hx-swap="outerHTML"
              data-hx-get="index.categories-aside.checkbox.html"
            ></svg>
            <span class="filters__item-category-option-text">Red</span>
          </label>
        </li>
        <li class="filters__item-category-option">
          <label class="filters__label">
            <input class="filters__checkbox" type="checkbox" name="color" />
            <svg
              data-hx-trigger="load"
              data-hx-swap="outerHTML"
              data-hx-get="index.categories-aside.checkbox.html"
            ></svg>
            <span class="filters__item-category-option-text">White</span>
          </label>
        </li>
      </ul>
    </li>

    <li class="filters__item">
      <div>
        <button class="filter-button">
          <h5 class="filters__item-title">Connection</h5>
          <svg
            data-hx-trigger="load"
            data-hx-swap="outerHTML"
            data-hx-get="index.categories-aside.accordion-button.html"
          ></svg>
        </button>
      </div>
      <ul class="filters__item-category">
        <li class="filters__item-category-option">
          <label class="filters__label">
            <input class="filters__checkbox" type="checkbox" name="connection" />
            <svg
              data-hx-trigger="load"
              data-hx-swap="outerHTML"
              data-hx-get="index.categories-aside.checkbox.html"
            ></svg>
            <span class="filters__item-category-option-text">Wired</span>
          </label>
        </li>
        <li class="filters__item-category-option">
          <label class="filters__label">
            <input class="filters__checkbox" type="checkbox" name="connection" />
            <svg
              data-hx-trigger="load"
              data-hx-swap="outerHTML"
              data-hx-get="index.categories-aside.checkbox.html"
            ></svg>
            <span class="filters__item-category-option-text">Wireless</span>
          </label>
        </li>
      </ul>
    </li>

    <li class="filters__item">
      <div>
        <button class="filter-button">
          <h5 class="filters__item-title">Screen Size</h5>
          <svg
            data-hx-trigger="load"
            data-hx-swap="outerHTML"
            data-hx-get="index.categories-aside.accordion-button.html"
          ></svg>
        </button>
      </div>
      <ul class="filters__item-category">
        <li class="filters__item-category-option">
          <label class="filters__label">
            <input class="filters__checkbox" type="checkbox" name="screen_size" />
            <svg
              data-hx-trigger="load"
              data-hx-swap="outerHTML"
              data-hx-get="index.categories-aside.checkbox.html"
            ></svg>
            <span class="filters__item-category-option-text">19''</span>
          </label>
        </li>
        <li class="filters__item-category-option">
          <label class="filters__label">
            <input class="filters__checkbox" type="checkbox" name="screen_size" />
            <svg
              data-hx-trigger="load"
              data-hx-swap="outerHTML"
              data-hx-get="index.categories-aside.checkbox.html"
            ></svg>
            <span class="filters__item-category-option-text">21.5''</span>
          </label>
        </li>
        <li class="filters__item-category-option">
          <label class="filters__label">
            <input class="filters__checkbox" type="checkbox" name="screen_size" />
            <svg
              data-hx-trigger="load"
              data-hx-swap="outerHTML"
              data-hx-get="index.categories-aside.checkbox.html"
            ></svg>
            <span class="filters__item-category-option-text">24''</span>
          </label>
        </li>
        <li class="filters__item-category-option">
          <label class="filters__label">
            <input class="filters__checkbox" type="checkbox" name="screen_size" />
            <svg
              data-hx-trigger="load"
              data-hx-swap="outerHTML"
              data-hx-get="index.categories-aside.checkbox.html"
            ></svg>
            <span class="filters__item-category-option-text">27''</span>
          </label>
        </li>
        <li class="filters__item-category-option">
          <label class="filters__label">
            <input class="filters__checkbox" type="checkbox" name="screen_size" />
            <svg
              data-hx-trigger="load"
              data-hx-swap="outerHTML"
              data-hx-get="index.categories-aside.checkbox.html"
            ></svg>
            <span class="filters__item-category-option-text">29''</span>
          </label>
        </li>
        <li class="filters__item-category-option">
          <label class="filters__label">
            <input class="filters__checkbox" type="checkbox" name="screen_size" />
            <svg
              data-hx-trigger="load"
              data-hx-swap="outerHTML"
              data-hx-get="index.categories-aside.checkbox.html"
            ></svg>
            <span class="filters__item-category-option-text">32''</span>
          </label>
        </li>
        <li class="filters__item-category-option">
          <label class="filters__label">
            <input class="filters__checkbox" type="checkbox" name="screen_size" />
            <svg
              data-hx-trigger="load"
              data-hx-swap="outerHTML"
              data-hx-get="index.categories-aside.checkbox.html"
            ></svg>
            <span class="filters__item-category-option-text">34''</span>
          </label>
        </li>
        <li class="filters__item-category-option">
          <label class="filters__label">
            <input class="filters__checkbox" type="checkbox" name="screen_size" />
            <svg
              data-hx-trigger="load"
              data-hx-swap="outerHTML"
              data-hx-get="index.categories-aside.checkbox.html"
            ></svg>
            <span class="filters__item-category-option-text">38''</span>
          </label>
        </li>
      </ul>
    </li>
  </ul>
</aside>
