<!-- Maksym Zymyn -->
<!-- <div class="active-filters-bar_36R">
  <div
    class="active-filters-bar__item_38s"
    data-id="7e58ef8c-d769-4c7f-8b43-081aea8fb6a0"
  >
    <p class="filters-text_2xq ui-caption">Price:</p>
    <p
      class="active-filters-bar__item-variant_73w js-active-filter-value filters-text_2xq ui-caption"
    >
      &nbsp;32,00 - 201,00
    </p>
    <div
      class="close-button_2nU js-remove-active-filter"
      role="button"
      tabindex="0"
    >
      <svg
        width="12"
        height="12"
        viewBox="0 0 12 12"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="active-filters-bar__item-icon_1zG"
      >
        <path
          d="M9.85 9.15C10.05 9.35 10.05 9.65 9.85 9.85C9.75 9.95 9.65 10 9.5 10C9.35 10 9.25 9.95 9.15 9.85L6 6.7L2.85 9.85C2.65 10.05 2.35 10.05 2.15 9.85C2.05 9.75 2 9.65 2 9.5C2 9.35 2.05 9.25 2.15 9.15L5.3 6L2.15 2.85C1.95 2.65 1.95 2.35 2.15 2.15C2.35 1.95 2.65 1.95 2.85 2.15L6 5.3L9.15 2.15C9.35 1.95 9.65 1.95 9.85 2.15C10.05 2.35 10.05 2.65 9.85 2.85L6.7 6L9.85 9.15Z"
          fill="currentColor"
        ></path>
      </svg>
    </div>
  </div>
  <div class="active-filters-bar__item_38s" data-id="Color" data-value="Black">
    <p class="filters-text_2xq ui-caption">Color:</p>
    <p
      class="active-filters-bar__item-variant_73w js-active-filter-value filters-text_2xq ui-caption"
    >
      &nbsp;Black
    </p>
    <div
      class="close-button_2nU js-remove-active-filter"
      role="button"
      tabindex="0"
    >
      <svg
        width="12"
        height="12"
        viewBox="0 0 12 12"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="active-filters-bar__item-icon_1zG"
      >
        <path
          d="M9.85 9.15C10.05 9.35 10.05 9.65 9.85 9.85C9.75 9.95 9.65 10 9.5 10C9.35 10 9.25 9.95 9.15 9.85L6 6.7L2.85 9.85C2.65 10.05 2.35 10.05 2.15 9.85C2.05 9.75 2 9.65 2 9.5C2 9.35 2.05 9.25 2.15 9.15L5.3 6L2.15 2.85C1.95 2.65 1.95 2.35 2.15 2.15C2.35 1.95 2.65 1.95 2.85 2.15L6 5.3L9.15 2.15C9.35 1.95 9.65 1.95 9.85 2.15C10.05 2.35 10.05 2.65 9.85 2.85L6.7 6L9.85 9.15Z"
          fill="currentColor"
        ></path>
      </svg>
    </div>
  </div>
  <div
    class="active-filters-bar__item_38s"
    data-id="Connection"
    data-value="Wired"
  >
    <p class="filters-text_2xq ui-caption">Connection:</p>
    <p
      class="active-filters-bar__item-variant_73w js-active-filter-value filters-text_2xq ui-caption"
    >
      &nbsp;Wired
    </p>
    <div
      class="close-button_2nU js-remove-active-filter"
      role="button"
      tabindex="0"
    >
      <svg
        width="12"
        height="12"
        viewBox="0 0 12 12"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="active-filters-bar__item-icon_1zG"
      >
        <path
          d="M9.85 9.15C10.05 9.35 10.05 9.65 9.85 9.85C9.75 9.95 9.65 10 9.5 10C9.35 10 9.25 9.95 9.15 9.85L6 6.7L2.85 9.85C2.65 10.05 2.35 10.05 2.15 9.85C2.05 9.75 2 9.65 2 9.5C2 9.35 2.05 9.25 2.15 9.15L5.3 6L2.15 2.85C1.95 2.65 1.95 2.35 2.15 2.15C2.35 1.95 2.65 1.95 2.85 2.15L6 5.3L9.15 2.15C9.35 1.95 9.65 1.95 9.85 2.15C10.05 2.35 10.05 2.65 9.85 2.85L6.7 6L9.85 9.15Z"
          fill="currentColor"
        ></path>
      </svg>
    </div>
  </div>
  <div
    class="active-filters-bar__item_38s"
    data-id="Screen Size"
    data-value="19”"
  >
    <p class="filters-text_2xq ui-caption">Screen Size:</p>
    <p
      class="active-filters-bar__item-variant_73w js-active-filter-value filters-text_2xq ui-caption"
    >
      &nbsp;19”
    </p>
    <div
      class="close-button_2nU js-remove-active-filter"
      role="button"
      tabindex="0"
    >
      <svg
        width="12"
        height="12"
        viewBox="0 0 12 12"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="active-filters-bar__item-icon_1zG"
      >
        <path
          d="M9.85 9.15C10.05 9.35 10.05 9.65 9.85 9.85C9.75 9.95 9.65 10 9.5 10C9.35 10 9.25 9.95 9.15 9.85L6 6.7L2.85 9.85C2.65 10.05 2.35 10.05 2.15 9.85C2.05 9.75 2 9.65 2 9.5C2 9.35 2.05 9.25 2.15 9.15L5.3 6L2.15 2.85C1.95 2.65 1.95 2.35 2.15 2.15C2.35 1.95 2.65 1.95 2.85 2.15L6 5.3L9.15 2.15C9.35 1.95 9.65 1.95 9.85 2.15C10.05 2.35 10.05 2.65 9.85 2.85L6.7 6L9.85 9.15Z"
          fill="currentColor"
        ></path>
      </svg>
    </div>
  </div>
  <p class="button_3XK filters-text_2xq ui-caption">Clear all</p>
</div> -->

<div class="product-gallery__items">
  <div class="product-gallery__grid">
    <article
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="./cards/aerobeats.html"
    ></article>
    <article
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="./cards/aerotrack.html"
    ></article>
    <article
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="./cards/aerowave.html"
    ></article>
    <article
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="./cards/aerogrip.html"
    ></article>
    <article
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="./cards/lumimouse-pro.html"
    ></article>
    <article
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="./cards/lumivision.html"
    ></article>
    <article
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="./cards/neurokey.html"
    ></article>
    <article
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="./cards/neurosound.html"
    ></article>
    <article
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="./cards/novamouse.html"
    ></article>
    <article
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="./cards/novascreen-ultra.html"
    ></article>
    <article
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="./cards/novasound-pro.html"
    ></article>
    <article
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="./cards/quantumboard.html"
    ></article>
    <article
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="./cards/quantum-screen.html"
    ></article>
    <article
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="./cards/syncromouse.html"
    ></article>
    <article
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="./cards/syncview.html"
    ></article>
    <article
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="./cards/vortexkey.html"
    ></article>
    <article
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="./cards/xflowkeyboard.html"
    ></article>
    <article
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="./cards/atype-300-keyboard.html"
    ></article>
    <article
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="./cards/neurodisplay.html"
    ></article>
    <article
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="./cards/pulsesound.html"
    ></article>
    <article
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="./cards/quantum-pulse.html"
    ></article>
    <article
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="./cards/syncromouse.html"
    ></article>
    <article
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="./cards/pixelview-flex.html"
    ></article>
  </div>
  <div class="load-more">
    <button type="button" class="btn btn-outline-dark">Load More</button>
  </div>
</div>
