<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Electronics Store</title>
    <link rel="shortcut icon" href="./img/favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="./css/index.css" />
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <!-- Nazar Yaremii-->
    <header
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="./global.header.partial.html"
    ></header>

    <main>
      <!-- Svitlana Voron`ko -->
      <!-- hero-section -->
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="./index.hero.partial.html"
      ></section>
      <!-- End partial Svitlana Voron`ko -->

      <!-- Домініка Сливка -->
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.offers.partial.html"
      ></section>
      <!-- End partial Домініка Сливка -->

      <!-- Maksym Zymyn -->
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="./partials/zymyn/index.categories.partial.html"
      ></section>
      <!-- End partial Maksym Zymyn -->

      <!-- Viontsek Markian -->
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="./index.join-discount-club.partial.html "
      ></section>
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="./index.sale.partial.html"
      ></section>
      <!-- End partial Viontsek Markian -->

      <!-- Віталіна Гавалешко -->
      <section></section>
      <!-- End partial Віталіна Гавалешко -->

      <!-- Halyna Fedkiv -->
      <section
        class="new-product"
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.new-product.partial.html"
      ></section>

      <section
        class="deals"
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.deals.partial.html"
      ></section>
      <!-- End partial Halyna Fedkiv -->

      <!-- Anna Yatsenko  -->
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.our-clients-about-us.partial.html"
      ></section>
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.read-about-the-top-gadgets.partial.html"
      ></section>
      <!-- End partial Anna Yatsenko  -->
    </main>

    <!-- Andrii Makovetskyi -->
    <footer>
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="global.footer-nav.partial.html"
      ></section>
    </footer>
    <!-- End partial Andrii Makovetskyi -->
  </body>
</html>
