<aside class="product-gallery__filters filters">
  <h4 class="filters__title">Filters</h4>

  <div
    class="filters__item filters__item--opened"
    data-opened-classname="filters__item--opened"
  >
    <div class="filters__item-name">
      <p class="filters__item-text filters__item-text--subcategory">Category</p>
      <svg
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="./partials/zymyn/svg/index.categories.filter-button-down.html"
      ></svg>
    </div>
    <div class="filters__item-content filters__item-content--undefined">
      <ul
        data-active-classname="filters__category-list--active"
        class="filters__category-list filters__category-list--active"
      >
        <li
          class="filters__category-list-item filters__category-list-item--opened filters__category-list-item--active"
          data-opened-classname="filters__category-list-item--opened"
          data-active-classname="filters__category-list-item--active"
          data-has-children-classname="filters__category-list-item--has-children"
        >
          <div class="filters__category-name">
            <p
              class="filters__category-name-text filters__category-name-text--default"
            >
              All
            </p>
            <svg
              data-hx-trigger="load"
              data-hx-swap="outerHTML"
              data-hx-get="./partials/zymyn/svg/index.categories.empty-svg.html"
            ></svg>
          </div>
        </li>
        <li
          class="filters__category-list-item filters__category-list-item--opened filters__category-list-item--active"
          data-opened-classname="filters__category-list-item--opened"
          data-active-classname="filters__category-list-item--active"
          data-has-children-classname="filters__category-list-item--has-children"
        >
          <div class="filters__category-name">
            <p
              class="filters__category-name-text filters__category-name-text--default"
            >
              Monitors
            </p>
            <svg
              data-hx-trigger="load"
              data-hx-swap="outerHTML"
              data-hx-get="./partials/zymyn/svg/index.categories.empty-svg.html"
            ></svg>
          </div>
        </li>
        <li
          class="filters__category-list-item filters__category-list-item--opened"
          data-opened-classname="filters__category-list-item--opened"
          data-active-classname="filters__category-list-item--active"
          data-has-children-classname="filters__category-list-item--has-children"
        >
          <div class="filters__category-name">
            <p
              class="filters__category-name-text filters__category-name-text--default"
            >
              Headphones
            </p>
            <svg
              data-hx-trigger="load"
              data-hx-swap="outerHTML"
              data-hx-get="./partials/zymyn/svg/index.categories.empty-svg.html"
            ></svg>
          </div>
        </li>
        <li
          class="filters__category-list-item filters__category-list-item--opened"
          data-opened-classname="filters__category-list-item--opened"
          data-active-classname="filters__category-list-item--active"
          data-has-children-classname="filters__category-list-item--has-children"
        >
          <div class="filters__category-name">
            <p
              class="filters__category-name-text filters__category-name-text--default"
            >
              Mice
            </p>
            <svg
              data-hx-trigger="load"
              data-hx-swap="outerHTML"
              data-hx-get="./partials/zymyn/svg/index.categories.empty-svg.html"
            ></svg>
          </div>
        </li>
        <li
          class="filters__category-list-item filters__category-list-item--opened"
          data-opened-classname="filters__category-list-item--opened"
          data-active-classname="filters__category-list-item--active"
          data-has-children-classname="filters__category-list-item--has-children"
        >
          <div class="filters__category-name">
            <p
              class="filters__category-name-text filters__category-name-text--default"
            >
              Keyboards
            </p>
            <svg
              data-hx-trigger="load"
              data-hx-swap="outerHTML"
              data-hx-get="./partials/zymyn/svg/index.categories.empty-svg.html"
            ></svg>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="filters__section filters__section--price">
    <div class="filters__item-name">
      <p class="filters__section-title">Price</p>
      <svg
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="./partials/zymyn/svg/index.categories.filter-button-down.html"
      ></svg>
    </div>
    <input class="filters__price-range" type="range" min="0" max="500" />
    <div class="filters__price-inputs">
      <span class="filters__price-input">
        <input
          type="number"
          data-sub-item="input-field"
          data-invalid-classname="filters__invalid-field"
          class="filters__input"
          name="min-price"
          value="100.00"
        />
      </span>
      <span class="filters__price-input">
        <input
          type="number"
          data-sub-item="input-field"
          data-invalid-classname="filters__invalid-field"
          class="filters__input"
          name="max-price"
          value="100.00"
        />
      </span>
    </div>
  </div>

  <div class="filters__section filters__section--color">
    <div class="filters__item-name">
      <p class="filters__section-title">Color</p>
      <svg
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="./partials/zymyn/svg/index.categories.filter-button-down.html"
      ></svg>
    </div>
    <div class="filters__color-picker">
      <div class="filters__color-picker-item" data-value="Black">
        <div class="filters__checkbox">
          <svg
            data-hx-trigger="load"
            data-hx-swap="outerHTML"
            data-hx-get="./partials/zymyn/svg/index.categories.filters-option.html"
          ></svg>
        </div>
        <p class="filters__text">Black</p>
      </div>
      <div class="filters__color-picker-item" data-value="Blue">
        <div class="filters__checkbox">
          <svg
            data-hx-trigger="load"
            data-hx-swap="outerHTML"
            data-hx-get="./partials/zymyn/svg/index.categories.filters-option.html"
          ></svg>
        </div>
        <p class="filters__text">Blue</p>
      </div>
      <div class="filters__color-picker-item" data-value="Green">
        <div class="filters__checkbox">
          <svg
            data-hx-trigger="load"
            data-hx-swap="outerHTML"
            data-hx-get="./partials/zymyn/svg/index.categories.filters-option.html"
          ></svg>
        </div>
        <p class="filters__text">Green</p>
      </div>
      <div class="filters__color-picker-item" data-value="Grey">
        <div class="filters__checkbox">
          <svg
            data-hx-trigger="load"
            data-hx-swap="outerHTML"
            data-hx-get="./partials/zymyn/svg/index.categories.filters-option.html"
          ></svg>
        </div>
        <p class="filters__text">Grey</p>
      </div>
      <div class="filters__color-picker-item" data-value="Multicolor">
        <div class="filters__checkbox">
          <svg
            data-hx-trigger="load"
            data-hx-swap="outerHTML"
            data-hx-get="./partials/zymyn/svg/index.categories.filters-option.html"
          ></svg>
        </div>
        <p class="filters__text">Multicolor</p>
      </div>
      <div class="filters__color-picker-item" data-value="Orange">
        <div class="filters__checkbox">
          <svg
            data-hx-trigger="load"
            data-hx-swap="outerHTML"
            data-hx-get="./partials/zymyn/svg/index.categories.filters-option.html"
          ></svg>
        </div>
        <p class="filters__text">Orange</p>
      </div>
      <div class="filters__color-picker-item" data-value="Pink">
        <div class="filters__checkbox">
          <svg
            data-hx-trigger="load"
            data-hx-swap="outerHTML"
            data-hx-get="./partials/zymyn/svg/index.categories.filters-option.html"
          ></svg>
        </div>
        <p class="filters__text">Pink</p>
      </div>
      <div class="filters__color-picker-item" data-value="Purple">
        <div class="filters__checkbox">
          <svg
            data-hx-trigger="load"
            data-hx-swap="outerHTML"
            data-hx-get="./partials/zymyn/svg/index.categories.filters-option.html"
          ></svg>
        </div>
        <p class="filters__text">Purple</p>
      </div>
      <div class="filters__color-picker-item" data-value="Red">
        <div class="filters__checkbox">
          <svg
            data-hx-trigger="load"
            data-hx-swap="outerHTML"
            data-hx-get="./partials/zymyn/svg/index.categories.filters-option.html"
          ></svg>
        </div>
        <p class="filters__text">Red</p>
      </div>
      <div class="filters__color-picker-item" data-value="White">
        <div class="filters__checkbox">
          <svg
            data-hx-trigger="load"
            data-hx-swap="outerHTML"
            data-hx-get="./partials/zymyn/svg/index.categories.filters-option.html"
          ></svg>
        </div>
        <p class="filters__text">White</p>
      </div>
    </div>
  </div>

  <div class="filters__section filters__section--connection">
    <div class="filters__item-name">
      <p class="filters__section-title">Connection</p>
      <svg
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="./partials/zymyn/svg/index.categories.filter-button-down.html"
      ></svg>
    </div>
    <div class="filters__connection-options">
      <div class="filters__connection-option" data-value="Wired">
        <div class="filters__checkbox">
          <svg
            data-hx-trigger="load"
            data-hx-swap="outerHTML"
            data-hx-get="./partials/zymyn/svg/index.categories.filters-option.html"
          ></svg>
        </div>
        <p class="filters__text">Wired</p>
      </div>
      <div class="filters__connection-option" data-value="Wireless">
        <div class="filters__checkbox">
          <svg
            data-hx-trigger="load"
            data-hx-swap="outerHTML"
            data-hx-get="./partials/zymyn/svg/index.categories.filters-option.html"
          ></svg>
        </div>
        <p class="filters__text">Wireless</p>
      </div>
    </div>
  </div>

  <div class="filters__section filters__section--screen-size">
    <div class="filters__item-name">
      <p class="filters__section-title">Screen Size</p>
      <svg
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="./partials/zymyn/svg/index.categories.filter-button-down.html"
      ></svg>
    </div>
    <div class="filters__screen-size-options">
      <div class="filters__screen-size-option" data-value="19”">
        <div class="filters__checkbox">
          <svg
            data-hx-trigger="load"
            data-hx-swap="outerHTML"
            data-hx-get="./partials/zymyn/svg/index.categories.filters-option.html"
          ></svg>
        </div>
        <p class="filters__text">19”</p>
      </div>
      <div class="filters__screen-size-option" data-value="21.5”">
        <div class="filters__checkbox">
          <svg
            data-hx-trigger="load"
            data-hx-swap="outerHTML"
            data-hx-get="./partials/zymyn/svg/index.categories.filters-option.html"
          ></svg>
        </div>
        <p class="filters__text">21.5”</p>
      </div>
      <div class="filters__screen-size-option" data-value="24”">
        <div class="filters__checkbox">
          <svg
            data-hx-trigger="load"
            data-hx-swap="outerHTML"
            data-hx-get="./partials/zymyn/svg/index.categories.filters-option.html"
          ></svg>
        </div>
        <p class="filters__text">24”</p>
      </div>
      <div class="filters__screen-size-option" data-value="27”">
        <div class="filters__checkbox">
          <svg
            data-hx-trigger="load"
            data-hx-swap="outerHTML"
            data-hx-get="./partials/zymyn/svg/index.categories.filters-option.html"
          ></svg>
        </div>
        <p class="filters__text">27”</p>
      </div>
      <div class="filters__screen-size-option" data-value="29”">
        <div class="filters__checkbox">
          <svg
            data-hx-trigger="load"
            data-hx-swap="outerHTML"
            data-hx-get="./partials/zymyn/svg/index.categories.filters-option.html"
          ></svg>
        </div>
        <p class="filters__text">29”</p>
      </div>
      <div class="filters__screen-size-option" data-value="32”">
        <div class="filters__checkbox">
          <svg
            data-hx-trigger="load"
            data-hx-swap="outerHTML"
            data-hx-get="./partials/zymyn/svg/index.categories.filters-option.html"
          ></svg>
        </div>
        <p class="filters__text">32”</p>
      </div>
      <div class="filters__screen-size-option" data-value="34”">
        <div class="filters__checkbox">
          <svg
            data-hx-trigger="load"
            data-hx-swap="outerHTML"
            data-hx-get="./partials/zymyn/svg/index.categories.filters-option.html"
          ></svg>
        </div>
        <p class="filters__text">34”</p>
      </div>
      <div class="filters__screen-size-option" data-value="38”">
        <div class="filters__checkbox">
          <svg
            data-hx-trigger="load"
            data-hx-swap="outerHTML"
            data-hx-get="./partials/zymyn/svg/index.categories.filters-option.html"
          ></svg>
        </div>
        <p class="filters__text">38”</p>
      </div>
    </div>
  </div>
</aside>
